/*
*
* Generic
* ---------------------
*
* These are the styles for generic shortcode elements
*
*/

/* TODO @alexandrosraikos: Redesign loading indicators. #55 */

:root {
  --policycloud-text-color: #111111;
  --policycloud-text-color-secondary: #464646;
  --policycloud-text-color-invert: #f0f0f0;
  --policycloud-text-color-invert-secondary: #c2c2c2;
  --policycloud-highlight-color-dark: #03204a;
  --policycloud-highlight-color-mid: #005cf9;
  --policycloud-highlight-color-light: #00bdf5;
  --policycloud-border-color-light: rgba(0, 0, 0, 0.1);
  --policycloud-background-color: rgba(253, 253, 253);
  --policycloud-background-notice: lightblue;
  --policycloud-background-notice-outline: rgb(52, 111, 131);
  --policycloud-background-failure: #ffe8e8;
  --policycloud-background-failure-outline: #7f1010;
  --policycloud-background-success: #ecffe8;
  --policycloud-background-success-outline: #3c5e21;
}

/* Links & buttons */

.policycloud-marketplace {
  margin: 0 auto;
}

.policycloud-marketplace a {
  display: inline !important;
  margin: 0 auto;
  text-decoration: none !important;
  font-size: inherit;
  font-weight: bold;
  color: var(--policycloud-text-color);
  transition: color 0.2s ease-in-out;
}

.policycloud-marketplace a:hover {
  text-decoration: none !important;
  display: inline;
  color: var(--policycloud-highlight-color-mid);
  cursor: pointer !important;
  transition: color 0.2s ease-in-out;
}

.policycloud-marketplace button.action {
  padding: 7px 15px;
  border: 1px solid var(--policycloud-background-notice-outline);
  border-radius: 8px;
  background: var(--policycloud-background-notice) !important;
  color: var(--policycloud-text-color) !important;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.policycloud-marketplace button.action.destructive {
  background-color: var(--policycloud-background-failure) !important;
  border-color: var(--policycloud-background-failure-outline);
  color: var(--policycloud-background-failure-outline) !important;
}

.policycloud-marketplace button.action.productive {
  background-color: var(--policycloud-background-success) !important;
  border-color: var(--policycloud-background-success-outline);
  color: var(--policycloud-background-success-outline) !important;
}

.policycloud-marketplace button.action:hover {
  cursor: pointer;
  transform: scale(0.98);
  transition: all 0.2s ease-in-out;
}

.policycloud-marketplace button.action:active {
  opacity: 0.7;
  transform: scale(0.95);
  transition: all 0.1s ease-in-out;
}

.policycloud-marketplace button.action.loading {
  opacity: 0.7;
  cursor: wait;
  pointer-events: none;
}

.policycloud-marketplace button.tactile {
  display: block;
  width: 100%;
  text-align: left;
  background-color: transparent !important;
  padding: 10px 0 10px 8px;
  margin: 3px 0;
  color: inherit !important;
  border: none;
  border-radius: 8px;
  text-transform: none;
  transition: all 0.2s ease-in-out;
}

.policycloud-marketplace button.tactile:hover {
  transform: scale(0.98);
  background-color: rgba(0, 0, 0, 0.05) !important;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.policycloud-marketplace button.tactile.active,
.policycloud-marketplace button.tactile:active {
  transform: scale(0.96);
  background-color: rgba(0, 0, 0, 0.1) !important;
  transition: all 0.1s ease-in-out;
}

.policycloud-marketplace button.outlined {
  padding: 4px 8px;
  margin: 0 5px 5px 0;
  background: transparent !important;
  font-size: 100%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  text-decoration: none;
  color: inherit !important;
  text-transform: unset;
  transition: all 0.2s ease-in-out;
}

.policycloud-marketplace button.outlined:hover {
  text-decoration: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.15) !important;
  opacity: 0.9;
  transform: scale(0.99);
  transition: all 0.2s ease-in-out;
}

.policycloud-marketplace button.outlined.active,
.policycloud-marketplace button.outlined:active {
  text-decoration: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.25) !important;
  opacity: 0.8;
  transform: scale(0.97);
  transition: all 0.1s ease-in-out;
}

.policycloud-marketplace a.pill,
.policycloud-marketplace span.pill {
  display: inline-block !important;
  font-size: 90%;
  font-weight: 500;
  padding: 0 10px;
  background-color: var(--policycloud-border-color-light);
  border-radius: 100px;
}

.policycloud-marketplace h1 {
  /* Other */
  font-size: 40px;
  font-weight: bold;
}

.policycloud-marketplace h2 {
  /* Other */
  font-size: 28px;
  font-weight: bold;
}

.policycloud-marketplace h3 {
  margin-bottom: 10px;

  /* Other */
  font-size: 22px;
  font-weight: bold;
}

.policycloud-marketplace h4 {
  /* Other */
  font-size: 20px;
  font-weight: 500;
}

.policycloud-marketplace p {
  line-height: 1.3em;
}

.policycloud-marketplace span.label {
  background-color: var(--policycloud-background-notice);
  border-radius: 100px;
  font-size: 12px;
  font-weight: 600;
  display: inline-block !important;
  padding: 0 10px;
  border: 1px solid var(--policycloud-background-notice-outline);
  color: var(--policycloud-text-color);
}

.policycloud-marketplace span.label.success {
  background-color: var(--policycloud-background-success);
  border: 1px solid var(--policycloud-background-success-outline);
}

/* Pagination */

.policycloud-marketplace nav.pagination {
  text-align: center;
}

.policycloud-marketplace nav.pagination button {
  border: none;
  border-radius: 5px;
  padding: 0 8px;
  margin: 0 2px;
  background: transparent !important;
  color: inherit !important;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
}

.policycloud-marketplace nav.pagination button:hover {
  background: rgba(0, 0, 0, 0.05) !important;
  transition: all 0.1s ease-in-out;
}

.policycloud-marketplace nav.pagination button:active {
  transform: scale(0.98);
  opacity: 0.5;
  transition: all 0.1s ease-in-out;
}

.policycloud-marketplace nav.pagination button.active {
  font-weight: bold;
  background: rgba(0, 0, 0, 0.05) !important;
}

/* Forms */

.policycloud-marketplace form {
  margin: 0 auto;
  max-width: 900px;
}

.policycloud-marketplace
  form
  *:not(input[type="radio"], input[type="checkbox"], input[type="file"], button, svg, table, tbody, tr, td, span, h1, h2, h3, h4, h5, h6, p, img) {
  display: block;
  margin: 0 auto 10px auto;
  width: 100%;
  box-sizing: border-box;
}

.policycloud-marketplace form fieldset {
  border: none;
  padding: none;
  margin: 0 auto;
}

.policycloud-marketplace
  form
  fieldset:not(.policycloud-marketplace form fieldset:last-of-type) {
  border-bottom: 1px solid var(--policycloud-border-color-light);
  padding-bottom: 20px;
}

.policycloud-marketplace form fieldset:last-of-type {
  margin-bottom: 20px;
}

.policycloud-marketplace form fieldset > * {
  margin-bottom: 20px;
}

.policycloud-marketplace form fieldset h2 {
  font-weight: bold;
  font-size: 125%;
}

.policycloud-marketplace form fieldset p {
  text-align: left;
  max-width: 100%;
  color: var(--policycloud-text-color);
}

.policycloud-marketplace form label {
  display: block;
  float: left;
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0 5px 0;
  padding: 0;
}

.policycloud-marketplace
  form
  input:not(input[type="file"], input[type="checkbox"], input[type="radio"]),
.policycloud-marketplace form textarea,
.policycloud-marketplace form select {
  display: block;
  font-size: 16px;
  padding: 10px;
  margin: 0 0 10px 0;
  background-color: #ffffff;
  border: 1px double #222222 !important;
  border-radius: 10px;
}

.policycloud-marketplace form select:hover {
  cursor: pointer;
  background-color: #ececec;
}

.policycloud-marketplace form .error {
  width: 100%;
  max-width: 100%;
  font-weight: bold;
  color: darkred;
  text-align: center;
  margin: 25px auto;
  border-radius: 8px;
}

.policycloud-marketplace form button[type="submit"] {
  display: block;
  margin: 0 auto;
}

.policycloud-marketplace form p {
  text-align: center;
  font-size: 14px;
  margin: 20px auto;
  max-width: 80%;
  color: var(--policycloud-text-color-secondary);
}

/* Locked content */
.policycloud-marketplace .lock {
  min-height: 300px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--policycloud-border-color-light);
  border-radius: 12px;
}

.policycloud-marketplace .lock > img {
  margin-bottom: 10px;
  width: 60px;
}

.policycloud-marketplace .lock > p {
  margin-top: 10px;
  text-align: center;
  width: 80%;
}

/* File viewer */

.policycloud-marketplace .file-viewer {
  margin: 15px 0;
  width: 100%;
}

.policycloud-marketplace .file-viewer > button {
  width: 100%;
}

.policycloud-marketplace .file-viewer > table {
  box-sizing: border-box;
  display: block;
  margin: 0 10px 10px 10px;
  width: 95%;
  border-radius: 12px;
  border: 1px solid vaR(--policycloud-border-color-light);
  overflow: hidden;
  padding-top: 30px;
  margin-top: -30px;

  /* Other */
  font-size: 14px;
  border-collapse: collapse;
}

.policycloud-marketplace .file-viewer.collapsed > table {
  display: none;
}

.policycloud-marketplace .file-viewer > table tbody {
  display: table;
  min-width: 100%;
}

.policycloud-marketplace .file-viewer > table td,
.policycloud-marketplace .file-viewer > table th {
  max-width: 150px;
  word-wrap: break-word;
  vertical-align: top;
  border-top: unset;
  border-bottom: 1px solid var(--policycloud-border-color-light) !important;
  border-left: 1px solid var(--policycloud-border-color-light) !important;
  border-right: 1px solid var(--policycloud-border-color-light) !important;
  padding: 5px 7px;
}

.policycloud-marketplace .file-viewer > table td:not(:first-of-type) {
  text-align: right;
}

/* File editor */

.policycloud-marketplace .file-editor {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  position: relative;
  --image-width: 100px;
}

.policycloud-marketplace .file-editor > * {
  display: inline-block;
}

.policycloud-marketplace .file-editor img {
  max-width: var(--image-width);
  border-radius: 8px;
}

.policycloud-marketplace .file-editor button.delete {
  padding: 3px !important;
  text-align: center;
  border-radius: 100px !important;
  height: 24px;
  width: 24px;
  margin: 0 !important;
  position: absolute;
  top: -6px;
  left: calc(var(--image-width) - 18px);
  background-color: var(--policycloud-background-failure-outline) !important;
}

.policycloud-marketplace .file-editor button.delete:disabled {
  cursor: wait !important;
  z-index: 10;
  background-color: rgba(150, 150, 150, 0.5) !important;
}

/* Modal view */

.modal-content {
  display: none;
}

#policycloud-marketplace-modal .modal-content {
  display: block;
}

#policycloud-marketplace-modal::before {
  /* Positioning */
  position: absolute;
  z-index: 550;
  top: 0;
  left: 0;

  /* Display & Box Model */
  width: 100vw;
  height: 100vh;

  /* Other */
  background-color: rgba(0, 0, 0, 0.5);
  content: " ";
}

#policycloud-marketplace-modal {
  /* Positioning */
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;

  /* Display & Box Model */
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  animation: fade-in 0.2s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#policycloud-marketplace-modal > .close,
#policycloud-marketplace-modal > .container > .previous,
#policycloud-marketplace-modal > .container > .next {
  z-index: 600;
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  color: white !important;
}

#policycloud-marketplace-modal > .close {
  top: 20px;
  right: 20px;
}

#policycloud-marketplace-modal > .container {
  /* Positioning */
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 600;

  /* Display & Box Model */
  width: auto;
  max-width: 60vw;
  min-height: 50px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);*/

  /* Other */
  transform: translate(-50%, calc(-50% - 0.5px));
}

/**
* Quick fix or image positioning.
*/
#policycloud-marketplace-modal > .container img {
  /* Positioning */
  vertical-align: middle !important;
}

#policycloud-marketplace-modal > .container > .previous,
#policycloud-marketplace-modal > .container > .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#policycloud-marketplace-modal > .container > .previous {
  left: -50px;
}

#policycloud-marketplace-modal > .container > .next {
  right: -50px;
}

#policycloud-marketplace-modal > .container > .previous:disabled,
#policycloud-marketplace-modal > .container > .next:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

#policycloud-marketplace-modal > .container > .content {
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  background-color: var(--policycloud-background-color);
  border-radius: 12px;
}

#policycloud-marketplace-modal > .container > .content > img {
  height: 90vh;
}

/** 
* Errors & notices
*/

.policycloud-marketplace-error {
  width: 100%;
  max-width: 100%;
  max-height: auto;
  font-weight: bold;
  background-color: salmon;
  color: darkred;
  text-align: center;
  margin: 10px auto !important;
  border-radius: 8px;
  padding: 10px 15px;
  position: relative;
}

.policycloud-marketplace-error.animated,
.policycloud-marketplace-notice.animated {
  animation: show-error 0.2s ease-in-out;
}

.policycloud-marketplace-error.animated.seen,
.policycloud-marketplace-notice.animated.seen {
  max-height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: opacity 0.1s, max-height 0.2s, padding 0.2s, margin 0.2s;
}

.policycloud-marketplace-error.animated.seen.dismissed,
.policycloud-marketplace-notice.animated.seen.dismissed {
  display: none;
}

@keyframes show-error {
  0% {
    max-height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    max-height: inherit;
    padding: 10px 15px;
    margin: inherit;
    opacity: inherit;
  }
}

.policycloud-marketplace-notice {
  width: 100%;
  max-width: 100%;
  font-weight: bold;
  background-color: lightblue;
  text-align: center;
  margin: 25px auto;
  border-radius: 8px;
  padding: 10px 15px;
  position: relative;
}

.policycloud-marketplace-alert-close {
  border: none;
  background: red !important;
  position: absolute;
  border-radius: 10px;
  display: inline-block;
  height: 32px;
  font-size: 60%;
  font-weight: bold;
  padding: 0 8px;
  top: -15px;
  color: white !important;
  right: -20px;
}

.policycloud-marketplace-alert-close div {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  height: 5px;
}

/*
* ---------------------
* Assets
* ---------------------
*
* These are the styles for the assets related shortcodes.
*
*/

/*
* 
* Assets grid
* ---------------------
*
* These are the styles for the asset grid.
*
*/

.policycloud-marketplace.descriptions-grid > ul {
  /* Display & Box Model */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  flex-wrap: wrap;
  padding: 24px;
  justify-content: flex-start;

  /* Other */
  list-style-type: none;
}

.policycloud-marketplace.descriptions-grid > ul > li {
  /* Display & Box Model */
  margin: 10px;
  padding: 0;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  justify-self: flex-start;
  width: calc(100% - 20px);

  /* Other */
  background-color: var(--policycloud-background-color);
  transition: all 0.2s ease-in-out;
}

.policycloud-marketplace.descriptions-grid > ul > li > a {
  /* Display & Box Model */
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.policycloud-marketplace.descriptions-grid > ul > li > a > *:not(.cover) {
  /* Display & Box Model */
  margin: 10px 15px;

  /* Other */
  font-weight: normal;
}

.policycloud-marketplace.descriptions-grid > ul > li > a > div {
  width: 100%;
}

.policycloud-marketplace.descriptions-grid > ul > li > a > .cover > img {
  object-fit: contain;
}

.policycloud-marketplace.descriptions-grid > ul > li > a > .cover > div {
  /* Display & Box Model */
  margin: 10px 15px;

  /* Other */
  font-weight: normal;
}

.policycloud-marketplace.descriptions-grid > ul > li:hover {
  /* Positioning */
  transform: scale(0.985);

  /* Other */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.policycloud-marketplace.descriptions-grid > ul > li > a:hover {
  /* Other */
  color: inherit !important;
}

.policycloud-marketplace.descriptions-grid > ul > li > a img {
  /* Display & Box Model */
  max-height: 150px;
  width: 100%;

  /* Other */
  object-fit: cover;
}

.policycloud-marketplace.descriptions-grid > ul > li > a h4 {
  /* Display & Box Model */
  margin-top: 10px;
}

.policycloud-marketplace.descriptions-grid > ul > li > a p {
  /* Display & Box Model */
  margin: 10px 0;

  /* Other */
  color: var(--policycloud-text-color-secondary);
  font-size: 16px;
}

.policycloud-marketplace.descriptions-grid > ul > li > a > .metadata {
  /* Display & Box Model */
  margin-top: 0;
  width: 100%;
}

.policycloud-marketplace.descriptions-grid > ul > li > a > .metadata > * {
  /* Display & Box Model */
  margin: 0;
}

.policycloud-marketplace.descriptions-grid > ul > li > a .owner {
  /* Other */
  font-size: 14px;
  font-weight: 500;
}

.policycloud-marketplace.descriptions-grid > ul > li > a .last-updated {
  /* Other */
  font-size: 12px;
  color: var(--policycloud-text-color-secondary);
}

.policycloud-marketplace.descriptions-grid > ul > li > a .reviews {
  /* Other */
  font-size: 14px;
}

.policycloud-marketplace.descriptions-grid > ul > li > a .views {
  /* Other */
  font-size: 14px;
}

.policycloud-marketplace.descriptions-grid > ul > li > a .type,
.policycloud-marketplace.descriptions-grid > ul > li > a .sub-type {
  /* Other */
  font-size: 14px;
}

@media screen and (max-width: 650px) {
  .policycloud-marketplace.descriptions-grid > ul {
    padding: 0;
    width: 100%;
    display: block;
  }

  .policycloud-marketplace.descriptions-grid > ul > li {
    flex: 1 0 100%;
    margin: 10px 0;
    display: block;
  }
}

/*
* 
* Featured descriptions
* ---------------------
*
* These are the styles for the featured descriptions shortcode.
*
*/

.policycloud-marketplace.featured-descriptions {
  max-width: 100% !important;
  padding: 0 20px;
}

.policycloud-marketplace.featured-descriptions > h2 {
  margin: 30px 5px 10px 10px;
}

.policycloud-marketplace.featured-descriptions .descriptions-grid > ul {
  justify-content: center !important;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0;
}

.policycloud-marketplace.featured-descriptions .descriptions-grid > ul > li {
  width: calc(100% - 20px);
}
.policycloud-marketplace.featured-descriptions
  .descriptions-grid
  > ul
  > li
  > a
  > div {
  width: 100%;
}

.policycloud-marketplace.featured-descriptions .statistics {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 0 auto;
}

.policycloud-marketplace.featured-descriptions .statistics figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: auto;
  font-size: 275%;
  font-weight: bold;
}

.policycloud-marketplace.featured-descriptions .statistics figcaption {
  opacity: 0.7;
  font-size: 40%;
}

/*
* 
* Assets archive
* ---------------------
*
* These are the styles for the 
* [policycloud-marketplace-read-multiple] shortcode.
*
*/

#policycloud-marketplace-description-archive {
  /* Display & Box Model */
  display: flex;
  width: 100%;
  max-width: 100%;
  margin: 20px auto;
}

/**
* Assets archive filters
*/

#policycloud-marketplace-description-archive > .filters {
  /* Display & Box Model */
  display: none;
  flex-grow: 0;
  padding: 33px;
  border-right: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

#policycloud-marketplace-description-archive > .filters > .close {
  float: right;
  display: none;
}

#policycloud-marketplace-description-archive.inspect > .filters {
  /* Display & Box Model */
  display: block;
  flex-basis: 100px;
  border-right: 1px solid var(--policycloud-border-color-light);

  /* Other */
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

#policycloud-marketplace-description-archive > .filters > p {
  /* Display & Box Model */
  margin: 15px 0;

  /* Other */
  color: var(--policycloud-text-color-secondary);
}

#policycloud-marketplace-description-archive > .filters > form fieldset {
  /* Display & Box Model */
  padding: 0;
  margin: 15px 0;
  border: unset;
}

#policycloud-marketplace-description-archive > .filters > form fieldset label {
  margin: 0;
}

#policycloud-marketplace-description-archive > .filters > form fieldset * {
  float: unset;
}

#policycloud-marketplace-description-archive
  > .filters
  > form
  fieldset
  .types
  span,
#policycloud-marketplace-description-archive
  > .filters
  > form
  fieldset
  .providers
  span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#policycloud-marketplace-description-archive
  > .filters
  > form
  fieldset
  .types
  input[type="radio"],
#policycloud-marketplace-description-archive
  > .filters
  > form
  fieldset
  .providers
  input[type="checkbox"] {
  border-width: 1px;
  width: 22px;
  height: 20px;
  margin-right: 10px;
}

#policycloud-marketplace-description-archive > .filters > form fieldset .views,
#policycloud-marketplace-description-archive > .filters > form fieldset .dates {
  /* Display & Box Model */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

#policycloud-marketplace-description-archive
  > .filters
  > form
  fieldset
  .dates
  div,
#policycloud-marketplace-description-archive
  > .filters
  > form
  fieldset
  .views
  div {
  width: 48%;
}

#policycloud-marketplace-description-archive
  > .filters
  > form
  > button[type="submit"] {
  float: left;
}

#policycloud-marketplace-description-archive > .content {
  /* Display & Box Model */
  flex: 1 0 0;
  padding: 0;
}

#policycloud-marketplace-description-archive > .content > header {
  /* Display & Box Model */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 17px 17px 17px;
  border-bottom: 1px solid var(--policycloud-border-color-light);
}

#policycloud-marketplace-description-archive
  > .content
  > header
  .filters-toggle {
  /* Display & Box Model */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 34px;
  width: 42px;
  padding: 10px 10px;
  box-sizing: border-box;
}

#policycloud-marketplace-description-archive
  > .content
  > header
  .filters-toggle
  div {
  /* Display & Box Model */
  width: 30px;
  height: 2px;
  border-radius: 2px;
  margin: 0;

  /* Other */
  background-color: var(--policycloud-text-color);
}

#policycloud-marketplace-description-archive > .content > header > form {
  /* Display & Box Model */
  display: flex;
  align-items: center;
  margin: 0;
}

#policycloud-marketplace-description-archive
  > .content
  > header
  > form
  > fieldset {
  margin: 0 0 0 20px;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  width: auto;
}

#policycloud-marketplace-description-archive
  > .content
  > header
  > form
  > fieldset
  > * {
  width: auto;
  padding-right: 20px;
}

#policycloud-marketplace-description-archive > .content > .gallery {
  margin: 15px;
}

@media screen and (max-width: 820px) {
  #policycloud-marketplace-description-archive.inspect > .filters {
    /* Display & Box Model */
    display: none;
  }

  /** 
  * NOTE: Flip the inspecting properties of desktop and mobile,
  * so that the fitlers sidebar is shown by default.
  */
  #policycloud-marketplace-description-archive > .filters {
    /* Display & Box Model */
    display: block;
    flex-basis: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--policycloud-background-color);
    z-index: 10000;
    overflow-y: auto;
    height: 100%;
    width: 100%;
  }

  #policycloud-marketplace-description-archive > .filters > .close {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 650px) {
  #policycloud-marketplace-description-archive > .content > header {
    display: block;
  }

  #policycloud-marketplace-description-archive > .content > header form {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

/*
* 
* Asset
* ---------------------
*
* These are the styles for the 
* [policycloud-marketplace-read-single] shortcode.
*
*/

#policycloud-marketplace-asset {
  /* Display & Box Model */
  width: 95%;
  max-width: 1200px;
}

#policycloud-marketplace-asset h2 {
  margin-bottom: 10px;
}

/**
* Asset header
*/

#policycloud-marketplace-asset > header {
  /* Display & Box Model */
  border-bottom: 1px solid var(--policycloud-border-color-light);
}

#policycloud-marketplace-asset > header > .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#policycloud-marketplace-asset > header > .title > h1 .status {
  /* Display & Box Model */
  font-size: 18px;
  padding: 5px 10px;
  display: block;
  float: right;
  margin: 10px 0 0 10px;
}

#policycloud-marketplace-asset > header > .title > button {
  flex-basis: 150px;
  margin: 0 0 0 40px;
  flex-basis: 80px;
  font-size: 16px;
}

#policycloud-marketplace-asset > header > .metadata {
  /* Display & Box Model */
  margin: 20px 0;

  /* Other */
  font-size: 16px;
}

#policycloud-marketplace-asset > header > .metadata > span:not(:last-of-type) {
  /* Display & Box Model */
  padding-right: 15px;
  border-right: 1px solid var(--policycloud-border-color-light);
  margin-right: 10px;
}

#policycloud-marketplace-asset > header > .metadata > .provider {
  /* Other */
  font-size: 22px;
  font-weight: 500;
}

#policycloud-marketplace-asset > header > .metadata > .type,
#policycloud-marketplace-asset > header > .metadata > .sub-type {
  /* Display & Box Model */
  padding-right: 10px !important;

  /* Other */
  font-size: 14px;
}

#policycloud-marketplace-asset > header > .metadata > .fields-of-use > span {
  /* Display & Box Model */
  margin-right: 10px;

  /* Other */
  font-size: 16px;
  text-decoration: underline;
}

/**
* Asset content
*/

#policycloud-marketplace-asset > .content {
  /* Display & Box Model */
  display: flex;
}

@media screen and (max-width: 800px) {
  #policycloud-marketplace-asset > header > .title {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
  }

  #policycloud-marketplace-asset > header > .title > button {
    flex: 0;
    margin: 20px 0 0 0;
  }

  #policycloud-marketplace-asset > .content {
    /* Display & Box Model */
    flex-direction: column-reverse;
  }
}

#policycloud-marketplace-asset > .content > * {
  /* Display & Box Model */
  padding: 20px 20px 0 20px;
}

#policycloud-marketplace-asset > .content > .files {
  /* Display & Box Model */
  flex: 0.5;
  border-right: 1px solid var(--policycloud-border-color-light);
}

#policycloud-marketplace-asset > .content > .files > .comments {
  /* Display & Box Model */
  margin-top: 20px;
}

#policycloud-marketplace-asset > .content > .information {
  /* Display & Box Model */
  flex: 1;
}

#policycloud-marketplace-asset > .content > .information > .description {
  /* Display & Box Model */
  margin-bottom: 20px;
}

#policycloud-marketplace-asset > .content > .information > .gallery > .slider {
  /* Display & Box Model */
  display: flex;
  margin-top: 20px;
  width: 100%;
  overflow-x: auto;
}

#policycloud-marketplace-asset
  > .content
  > .information
  > .gallery
  > .slider
  > img {
  /* Display & Box Model */
  height: 200px;
  width: auto;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

#policycloud-marketplace-asset
  > .content
  > .information
  > .gallery
  > .slider
  > img:hover {
  /* Display & Box Model */
  cursor: pointer;
  transform: scale(0.98);
  transition: transform 0.2s ease-in-out;
}

/**
* Asset editing form
*/

#policycloud-marketplace-description-editing.modal-hidden {
  display: none;
}

#policycloud-marketplace-description-editing {
  margin: 20px 10px;
}

#policycloud-marketplace-description-editing {
  background-color: var(--policycloud-background-color);
}

#policycloud-marketplace-description-editing form fieldset {
  border: none;
}

#policycloud-marketplace-description-editing .fieldset {
  border: none;
}

#policycloud-marketplace-description-editing input[type="file"] {
  font-size: 14px;
  margin-bottom: 20px;
}

#policycloud-marketplace-description-editing .file {
  display: flex;
  width: 100;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  border: 1px solid var(--policycloud-border-color-light);
  border-radius: 12px;
  padding: 7.5px 15px;
  margin: 10px 0;
}

#policycloud-marketplace-description-editing .file:last-of-type {
  margin-bottom: 20px;
}

#policycloud-marketplace-description-editing .file > * {
  margin-right: 15px;
}

#policycloud-marketplace-description-editing .file > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#policycloud-marketplace-description-editing .file input[type="file"] {
  margin-bottom: 0;
}

#policycloud-marketplace-description-editing .file .delete {
  padding: 0px 6px;
  margin-right: 15px;
  display: block;
  border-radius: 100px;
  border: none;
  font-size: 14px;
  background-color: var(--policycloud-background-failure-outline) !important;
  color: var(--policycloud-text-color-invert) !important;
  transition: all 0.2s ease-in-out;
}

#policycloud-marketplace-description-editing .file .delete:hover {
  border: none;
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}

#policycloud-marketplace-description-editing .actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

#policycloud-marketplace-description-editing .actions button {
  margin: 10px;
}

@media screen and (max-width: 650px) {
  #policycloud-marketplace-description-editing form {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  #policycloud-marketplace-description-editing form > fieldset {
    padding: 10px;
  }

  #policycloud-marketplace-description-editing .close {
    color: black !important;
  }
}

/*
* ---------------------
* Accounts
* ---------------------
*
* These are the styles for the accounts related shortcodes.
*
*/

/*
*
* Registration
* ---------------------
*
* These are the styles for the 
* [policycloud-marketplace-registration] shortcode.
*
*/

#policycloud-registration .socials div div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#policycloud-registration .socials div div * {
  display: block;
  height: auto;
  max-height: unset;
  margin: 0 8px 0 0;
}

#policycloud-registration .socials div button.remove-field,
#policycloud-registration .socials div button.remove-field * {
  padding: 0;
  margin: 0 0 0 3px;
  border: none;
  box-sizing: border-box;
  background: none !important;
  color: var(--policycloud-text-color) !important;
  transition: opacity 0.2s ease-in-out;
}

#policycloud-registration .socials div button.remove-field:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

#policycloud-registration .socials div button.remove-field:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  transition: opacity 0.2s ease-in-out;
}

#policycloud-registration .socials > button.add-field {
  padding: 3px 5px;
  display: block;
  height: auto;
  line-height: normal;
  background: none !important;
  color: var(--policycloud-text-color);
  font-size: 75%;
  margin: 10px 0;
  padding: 0;
  border: none;
}

#policycloud-registration .socials > button.add-field:hover {
  cursor: pointer;
  opacity: 0.8;
}

/*
*
* My Account
* ---------------------
*
* These are the styles for the 
* [policycloud-marketplace-account] shortcode.
*
*/

/* Generic layout */

#policycloud-marketplace-account {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  padding: 0;
  height: auto;
}

#policycloud-marketplace-account-sidebar {
  flex: 0 0 30%;
  padding: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

#policycloud-marketplace-account-sidebar
  > .policycloud-marketplace-account-title {
  display: none;
}

#policycloud-marketplace-account-sidebar > img {
  display: block;
  width: 90%;
  object-fit: cover;
  max-width: 256px;
  max-height: 256px;
  min-width: 256px;
  min-height: 256px;
  margin: 10px auto;
  border-radius: 1000px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#policycloud-marketplace-account-sidebar > nav {
  margin-top: 30px;
}

#policycloud-marketplace-account-sidebar > nav button {
  display: block;
  text-align: left;
}

#policycloud-marketplace-account-sidebar > nav button.active {
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.1s ease-in-out;
}

#policycloud-marketplace-account-sidebar > nav button .pill {
  display: inline-block;
  font-size: 75%;
  font-weight: bold;
  margin-left: 4px;
}

#policycloud-marketplace-account-sidebar > nav > hr {
  display: block;
  border-collapse: collapse;
  border: 0.5px solid var(--policycloud-border-color-light);
  height: 0px;
  margin: 15px 0;
}

#policycloud-marketplace-account-sidebar > nav button.policycloud-logout {
  color: rgba(185, 16, 16, 0.842) !important;
}

#policycloud-marketplace-account-content {
  flex: 1;
  margin: 20px;
}

#policycloud-marketplace-account-content
  .policycloud-marketplace-account-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 15px;
  margin-left: -20px;
  padding-left: 20px;
}

.policycloud-marketplace-account-title h2 {
  font-weight: bold;
}

.policycloud-marketplace-account-title div {
  font-size: 80%;
  opacity: 0.8;
}

#policycloud-marketplace-account-content section {
  display: none;
  max-height: 0px;
  margin: 0;
  padding: 0;
}

#policycloud-marketplace-account-content section.focused {
  display: block;
  max-height: 1000vh;
  opacity: 0;
  margin: 20px 0;
  padding: 0;
  transform: translateY(-10px);
  animation: sweep-in 0.3s ease-in-out forwards;
}

#policycloud-marketplace-account-content section header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

#policycloud-marketplace-account-content section header h3,
#policycloud-marketplace-account-content section h3 {
  font-weight: bold;
  font-size: 110% !important;
}

#policycloud-marketplace-account-content section header .actions {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#policycloud-marketplace-account-content section header a,
#policycloud-marketplace-account-content section header button {
  font-weight: bold;
  background-color: #000000;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 80% !important;
  border: none;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}

#policycloud-marketplace-account-content section header a:hover,
#policycloud-marketplace-account-content section header button:hover {
  transform: scale(0.98);
  cursor: pointer;
  text-decoration: none;
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

#policycloud-marketplace-account-content section header a:active,
#policycloud-marketplace-account-content section header button:active {
  transform: scale(0.97);
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.1s ease-in-out;
}

#policycloud-marketplace-account-content section header a {
  white-space: nowrap;
}

#policycloud-marketplace-account-content section header a img,
#policycloud-marketplace-account-content section header button img {
  max-width: 15px;
  margin: -3px 5px 0 0;
  display: inline-block;
}

/* Overview tab */

#policycloud-marketplace-account
  section.policycloud-marketplace-account-overview
  p {
  font-size: 90%;
  color: var(--policycloud-text-color-secondary);
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-overview
  ul {
  padding: 0;
  margin: 10px 0;
  font-size: 80%;
  list-style-type: none;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-overview
  ul
  li {
  margin-right: 7px;
  display: inline-block;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-overview
  h4 {
  font-size: 18px;
  margin: 20px 0;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-overview
  table,
#policycloud-marketplace-account
  section.policycloud-marketplace-account-overview
  tr,
#policycloud-marketplace-account
  section.policycloud-marketplace-account-overview
  td,
#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  table,
#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  tr,
#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  td {
  border: none;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-overview
  table.statistics {
  margin-bottom: 20px;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-overview
  table
  .large-figure {
  font-size: 150%;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  #policycloud-marketplace-account-content section header {
    align-items: flex-start;
  }

  #policycloud-marketplace-account-content section header .actions {
    align-self: flex-end;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
  }

  #policycloud-marketplace-account-content section header a,
  #policycloud-marketplace-account-content section header button {
    margin-bottom: 8px;
  }
}

/* Assets tab */

#policycloud-marketplace-account-content section header form.selector {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#policycloud-marketplace-account-content section header form.selector * {
  height: 100%;
  width: auto;
  margin: 0 5px;
  padding: 0;
  white-space: nowrap;
}

#policycloud-marketplace-account-content section header form.selector select {
  padding: 0 10px 0 6px;
}

#policycloud-marketplace-account-content section .collection-filters {
  margin-bottom: 20px;
  border-top: 1px solid var(--policycloud-border-color-light);
  border-bottom: 1px solid var(--policycloud-border-color-light);
  padding: 15px 0;
  font-size: 75%;
  font-weight: bold;
}

#policycloud-marketplace-account-content section .collection-filters div {
  margin-bottom: 5px;
}

#policycloud-marketplace-account-content section .collection-filters button {
  margin: 0 5px 5px 0;
}

#policycloud-marketplace-account-content section .paginated-list .hidden {
  display: none;
}

#policycloud-marketplace-account-content section .paginated-list .page {
  display: none;
  padding: 0 10px 0 0;
  margin: 0;
}

#policycloud-marketplace-account-content section .paginated-list .page.visible {
  display: block;
}

#policycloud-marketplace-account-content section .paginated-list .page li {
  display: none;
  max-height: 0;
  overflow: hidden;
}

#policycloud-marketplace-account-content
  section
  .paginated-list
  .page
  li.visible {
  display: block;
  max-height: 1000vh;
  margin: 5px 0;
  padding: 15px 10px;
  border-top: 1px solid var(--policycloud-border-color-light);
  animation: sweep-in 0.3s ease-in-out forwards;
}

#policycloud-marketplace-account-content section .paginated-list .page li h4 {
  margin-bottom: 10px;
}

#policycloud-marketplace-account-content
  section
  .paginated-list
  .page
  li
  > div
  > a {
  text-decoration: none;
  border-radius: 10px;
  display: block !important;
  transition: all 0.2s ease-in-out;
}

#policycloud-marketplace-account-content
  section
  .paginated-list
  .page
  li
  > div
  > p {
  color: var(--policycloud-text-color-secondary);
  font-size: 80%;
}

#policycloud-marketplace-account-content
  section
  .paginated-list
  .page
  li
  .metadata {
  font-size: 70%;
  margin-top: 10px;
  color: var(--policycloud-text-color-secondary);
}

#policycloud-marketplace-account-content
  section
  .paginated-list
  .page
  li
  .metadata
  a:last-of-type,
#policycloud-marketplace-account-content
  section
  .paginated-list
  .page
  li
  .metadata
  span {
  display: inline-block;
  margin-right: 8px;
}

/* Reviews tab */

#policycloud-marketplace-account
  section.policycloud-marketplace-account-reviews
  #policycloud-marketplace-account-reviews-list
  .rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-reviews
  .paginated-list
  .rating
  span:first-of-type {
  font-size: 32px;
  font-weight: bold;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-reviews
  .paginated-list
  .rating
  span:last-of-type {
  font-size: 16px;
  margin-left: 10px;
  color: var(--policycloud-text-color-secondary);
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-reviews
  .paginated-list
  .review
  p {
  color: var(--policycloud-text-color);
  margin: 15px 0;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-reviews
  .paginated-list
  .review
  a {
  text-decoration: none;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-reviews
  .paginated-list
  .review
  .metadata {
  font-size: 14px;
  margin-top: 10px;
}

/* Information tab */

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  table.information {
  margin-top: 20px;
  font-size: 80%;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  table.information
  tr
  > td:first-of-type {
  max-width: 80px;
  font-weight: bold;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-account-edit
  .folding,
#policycloud-marketplace-description-create .folding {
  display: none;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-account-edit
  .critical-action {
  display: none;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-account-edit
  .critical-action.visible {
  display: block;
  animation: sweep-in 0.3s ease-in-out;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-account-edit
  .folding.visible,
#policycloud-marketplace-description-create .folding.visible {
  display: table-cell;
  animation: sweep-in 0.3s ease-in-out;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-account-edit
  td:first-of-type {
  min-width: 100px;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-account-edit
  input,
#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-account-edit
  select {
  padding: 5px 10px;
  min-width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid rgba(140, 140, 140, 0.2);
  box-sizing: border-box;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-account-edit
  label {
  font-size: 80%;
  opacity: 0.8;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-account-edit
  .socials
  input {
  min-width: unset;
  margin-right: 8px;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-account-edit
  .socials
  div
  div {
  display: flex;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-account-edit
  .socials
  button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-account-edit
  .socials
  input {
  line-height: normal;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-account-edit
  div.error,
#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-account-edit
  div.notice {
  margin: 10px;
  width: 100%;
  padding: 10px 15px;
  font-size: 80% !important;
  font-weight: bold !important;
  border-radius: 8px;
  display: none;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-account-edit
  div.error {
  background-color: var(--policycloud-background-failure);
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-account-edit
  div.notice {
  background-color: var(--policycloud-background-notice);
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-account-edit
  div.error.visible,
#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-account-edit
  div.notice.visible {
  display: block;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-account-edit
  button {
  font-weight: bold;
  background-color: #000000;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 80% !important;
  border: none;
  margin: 15px auto;
  transition: all 0.2s ease-in-out;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-account-edit
  button:hover {
  transform: scale(0.98);
  cursor: pointer;
  text-decoration: none;
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-account-edit
  button:active {
  transform: scale(0.97);
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.1s ease-in-out;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-account-edit
  .unverified {
  font-weight: bold;
  color: darkred;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-account-edit
  button#policycloud-marketplace-resend-verification-email {
  color: inherit;
  background: none;
  padding: 0;
  margin: 0 5px;
  font-size: 100%;
  text-decoration: underline;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  button.action {
  display: block;
  margin: 15px 0;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-delete-account
  div {
  display: none;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-delete-account
  div.policycloud-marketplace-error {
  display: block;
}

#policycloud-marketplace-account
  section.policycloud-marketplace-account-profile
  #policycloud-marketplace-delete-account
  div.visible {
  display: block;
}

button#policycloud-marketplace-resend-verification-email.disabled,
a#policycloud-marketplace-resend-verification-email.disabled {
  opacity: 0.8;
}

button#policycloud-marketplace-resend-verification-email.disabled:hover,
a#policycloud-marketplace-resend-verification-email.disabled:hover {
  opacity: 0.8;
  cursor: not-allowed;
  text-decoration: none;
  pointer-events: none;
}

@keyframes sweep-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 650px) {
  #policycloud-marketplace-account-content
    > .policycloud-marketplace-account-title {
    display: none;
  }

  #policycloud-marketplace-account {
    flex-direction: column;
  }

  #policycloud-marketplace-account-sidebar {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0 10px 10px 10px;
  }

  #policycloud-marketplace-account-sidebar > img {
    max-width: 128px;
  }

  #policycloud-marketplace-account-sidebar
    > .policycloud-marketplace-account-title {
    display: block;
    text-align: center;
  }

  #policycloud-marketplace-account-content {
    padding: 0 10px;
    margin: 0;
  }

  #policycloud-marketplace-account-content
    section
    #policycloud-marketplace-account-descriptions-list {
    padding: 0;
    margin: 0;
    max-height: unset;
    overflow-y: visible;
  }

  #policycloud-marketplace-account-content
    section
    #policycloud-marketplace-account-descriptions-list
    li
    a {
    flex-direction: column;
  }

  #policycloud-marketplace-account-content
    section
    #policycloud-marketplace-account-descriptions-list
    li
    .thumbnail {
    flex: unset;
    height: 200px;
    margin-bottom: 25px;
  }

  #policycloud-marketplace-account
    section.policycloud-marketplace-account-reviews
    #policycloud-marketplace-account-reviews-list
    li {
    margin: 10px 0;
  }

  #policycloud-marketplace-account
    section.policycloud-marketplace-account-profile
    #policycloud-marketplace-account-edit
    input,
  #policycloud-marketplace-account
    section.policycloud-marketplace-account-profile
    #policycloud-marketplace-account-edit
    select {
    max-width: 50vw;
    max-width: 50vw;
  }

  #policycloud-marketplace-account
    section.policycloud-marketplace-account-profile
    #policycloud-marketplace-account-edit
    td:first-of-type {
    min-width: 110px;
  }
}
