/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405d9d;
  color: #fff;
}
.btn-twitter {
  background-color: #42aeec;
  color: #fff;
}

.fa-user-o {
  margin-left: 300px;
}

.grid-container {
  column-gap: 4px;
  display: grid;
  margin-top: 30px;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding: 30px;
}

.card {
  font-size: 15px;

  width: 325px;
  background: #fff;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  margin-top: 30px;

  border: 1px solid rgb(0 0 0 / 13%);

  overflow: hidden;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.container1 {
  position: relative;
  font-family: Arial;
}

.photo {
  height: 200px;
  width: 100%;
}

.photo img {
  height: 100%;
  width: 100%;
}

.photos {
  width: 50%;
  height: 30px;
  background-color: #000080;
  color: white;
  position: relative;
  top: -30px;
  padding-left: 10px;
  font-size: 20px;
}

.like {
  float: right;
  font-size: 22px;
  position: relative;
  top: 20px;
  color: #333333;
}

.fa-gratipay {
  margin-right: 10px;
  transition: 0.5s;
}

.txt3 {
  color: gray;
  position: relative;
  top: 18px;
  font-size: 14px;
}

.comments {
  float: right;
  cursor: pointer;
}

.fa-clock,
.fa-comments {
  margin-right: 7px;
}

.container {
  overflow: hidden;
  padding: 2px 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

input[type="text"] {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;

  transition: width 0.4s ease-in-out;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 325px;
  position: fixed;
  z-index: 1;
  top: 9;
  left: 0;
  background-color: #000080;
  overflow-x: hidden;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
  color: none;
}

/* Main content */
.main {
  margin-left: 150px;
  /* Same as the width of the sidenav */
  font-size: 20px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: none;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.remove {
  background-color: none;
  border: none;
  color: white;
  padding-top: 10px;
  padding: 10px 10px;
  font-size: 8px;
  cursor: pointer;
}

.add {
  background-color: none;
  border: none;
  color: white;
  padding: 10px 10px;
  font-size: 8px;
  cursor: pointer;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
body {
  font-family: Arial;
}
.containert {
  height: 100%;
  width: 600px;
  top: 10;
  left: 0;
}
/* Style the tab */
.tabs {
  width: 600px;
  background-color: rgba(163, 159, 159, 0.692);
  border-radius: 5px 5px 5px 5px;
}
ul#tabs-nav {
  list-style: none;
  margin: 0;
  padding: 5px;
  overflow: auto;
}
ul#tabs-nav li {
  float: left;
  font-weight: bold;
  margin-right: 2px;
  padding: 8px 10px;
  border-radius: 5px 5px 5px 5px;
  /*border: 1px solid #d5d5de;
  border-bottom: none;*/
  cursor: pointer;
}
ul#tabs-nav li:hover,
ul#tabs-nav li.active {
  background-color: rgba(0, 0, 0, 0.329);
}
#tabs-nav li a {
  text-decoration: none;
  color: #fff;
}
.tab-content {
  padding: 10px;
  border: 5px solid #fdfafa;
  background-color: #fff;
}

/* Just for CodePen styling - don't include if you copy paste */
/*style accordion*/
.w3-container {
  width: 30%;
}
.accordion {
  background-color: #eee;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: solid;
  border-color: white;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/*slideshow in the ta1 style */
#slideshow {
  margin: 50px auto;
  position: relative;
  width: 500px;
  height: 500px;
  padding: 10px;
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
.main-display {
  margin-right: 50px;
  /* Same as the width of the sidenav */
  /*  font-size: 20px;
            /* Increased text to enable scrolling */
  padding: 15px 15px;
}
.h1 {
  font-size: 30px;
  color: black;
}
.h2title {
  color: #000000;
  font-size: 40px;
  font-weight: 600;
  text-shadow: 4px 0px 3px rgb(0 0 0 / 30%);
}
input[name="dtitle"] {
  color: #000000;
  font-size: 40px;
  font-weight: 600;
  text-shadow: 4px 0px 3px rgb(0 0 0 / 30%);
}
.h2 input {
  color: #000000;
  font-size: 65px !important;
  font-weight: 600 !important;
  text-shadow: 4px 0px 3px rgb(0 0 0 / 30%);
}
.parent {
  display: flex;
  flex-direction: row;
}

.column {
  flex: 1 1 0px;
  border: 1px solid white;
}

/*   multi    */
/*dropdown sidebar style*/

/*
TODO @elefkour: Rename generic selectors.
*/

.sidenav a,
.dropdown-btn1 {
  background-color: #4682b4;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
/*policycloudtitleviews*/
.policycloudtitleviews {
  font-size: 20px !important;
  color: white !important;
}
/*icon setings */
ul#policy-cloud-icons li {
  display: inline-block !important;
}
ul#policy-cloud-icons-discover li {
  margin-left: 0.5rem !important;
  display: inline-block !important;
}

.li1 {
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/512px-User_font_awesome.svg.png")
    50% 50% no-repeat no-repeat;
  padding-left: 5px;
}
/*option for user labe*/
.pcowneroption {
  color: white;
  font-size: 18px;
  width: 100%;
  text-align: center;
}
.pcdate {
}
/*check box*/
.checkbox {
}

.pccheckbox {
  cursor: pointer;
  padding: 6px 8px 6px 16px;
  color: white;
}
.pccheckbox :hover {
  color: #4682b4;
}
/* On mouse-over */
.sidenav a:hover,
.dropdown-btn1:hover {
  color: none;
  background-color: #4682b4;
}
.dropdown-btn1 a {
  background-color: #4682b4;
}
/* Main content */
.main {
  margin-left: 150px;
  /* Same as the width of the sidenav */
  font-size: 20px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #4682b4;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: none;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/*sidebar the list*/
ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-image: url("https://nkfitness.gr/wp-content/uploads/2017/07/photo-placeholder-1.jpg");
  background-color: #4682b4;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.sidenav li a {
  display: block;
  color: white;
  padding: 8px 16px;
  background-color: #4682b4;
  text-decoration: none;
}

ul.sidenav li a.active {
  background-color: #4682b4;
  color: white;
}

ul.sidenav li a:hover:not(.active) {
  background-color: #4682b4;
  color: white;
}

div.content {
  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }

  ul.sidenav li a {
    float: left;
    padding: 15px;
  }

  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
}
/***************************           Cards            *******************************/
img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}
.title1 {
  color: #4682b4;
  margin: 2rem 0 0.5rem;
  font-size: 1.4rem;
  font-weight: 400;
}
.cards {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 4fr)
  ); /* see notes below */
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1rem;
  font-family: "Montserrat";
}

.card1 {
  max-width: 95%;
  /*height: 200px;*/
  /*background: red;*/
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: 0.5rem;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  /* -webkit-box-orient: vertical; */
  /* -webkit-box-direction: normal; */
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  color: #5d5e5e;
} /* li item */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.thumbnail1 .category__01 {
  /* fill: #c7c4c4;*/
  height: 200px;
  width: 100%;
  padding: 1.5rem;
  object-fit: scale-down;
}

.card-content {
  font-size: 0.75rem;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.panel.card1-panel .panel-header {
  background-color: #ffffff;
  font-size: 0.75rem;
  font-weight: 400;
  height: 25px !important;
}

.panel.card1-panel .panel-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.category {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.footer1 {
  border-top: 2px solid #e7e7e7;
  margin: 0.5rem 0 0;
  min-height: 30px;
  font-size: 1.2rem;
  margin-top: auto;
}

.category1 {
  position: absolute;
  top: 160px;
  left: 3;
  color: #fff;
  background: #e74c3c;
  padding: 12px 15px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.category__01 {
  /*background-color: #cccccc;*/
  /*background-color: #50c6db;*/
}
.category__01_plaisio {
  background-color: #006489;
}
.category__02 {
  background-color: #5d5e5e;
}

.category__03 {
  background-color: #51bb7b;
}

.category__04 {
  background-color: #f47820;
}

.category__05 {
  background-color: #8350a0;
}

.post-meta1 {
  margin-top: 0.5rem;
}

.comments1 {
  margin-left: 0.5rem;
}
.views1 {
  font-style: inherit;
  margin-top: 0.5rem;
  display: inline-block !important;
  margin-left: 0.5rem;
}
.views1 .policy-cloud-approve-img-i {
  float: none;
}
.views1 policy-cloud-approve-img {
  margin-top: 0.5rem;
  float: none;
  position: absolute !important;
  margin-left: 0.5rem;

  display: inline-block !important;
}
.policy-cloud-eye-img {
  filter: grayscale(100%);

  display: inline-block !important;
}
/*koubia */
.myinp {
  width: 30.33%;
}
/*-------------------sigle css------------*/
.hidden {
  display: none;
}
/*error message bar*/
.error-msg1 {
  width: 100%;
  color: #d8000c;
  background-color: #ffbaba;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px 4px 4px 4px;
  text-align: center;
}
/*close button*/
.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

.close:hover {
  background: #bbb;
}

/*edit accordition button*/
.edit2 {
  color: black;
  background: none;
  border: none;
  color: black;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
/*range inputs */

/** UPLOAD FORM **/

.container-fluid {
  margin: 0;
  padding: 0;
  width: 100%;
}
.container-fluid .card {
  width: 100%;
}
html {
  height: 100%;
}

p {
  color: grey;
}

#heading {
  margin: auto;
  text-transform: uppercase;
  color: #4966cb;
  font-weight: normal;
}

#policycloud-marketplace-description-create {
  width: 500px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

#policycloud-marketplace-description-create fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: relative;
}

.form-card {
  text-align: left;
}

#policycloud-marketplace-description-create fieldset:not(:first-of-type) {
  display: none;
}

#policycloud-marketplace-description-create input,
#policycloud-marketplace-description-create textarea {
  padding: 8px 15px 8px 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  background-color: #eceff1;
  font-size: 16px;
  letter-spacing: 1px;
}

#policycloud-marketplace-description-create input:focus,
#policycloud-marketplace-description-create textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #673ab7;
  outline-width: 0;
}

#policycloud-marketplace-description-create .action-button {
  width: 100px;
  background: #4966cb;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right;
}

#policycloud-marketplace-description-create .action-button:hover,
#policycloud-marketplace-description-create .action-button:focus {
  background-color: #4966cb;
}

#policycloud-marketplace-description-create .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right;
}

#policycloud-marketplace-description-create .action-button-previous:hover,
#policycloud-marketplace-description-create .action-button-previous:focus {
  background-color: #000000;
}

.form-card {
  z-index: 0;
  border: none;
  position: relative;
}

.fs-title {
  font-size: 25px;
  color: #4966cb;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left;
}

.purple-text {
  color: #4966cb;
  font-weight: normal;
}

.steps {
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right;
}

.fieldlabels {
  color: gray;
  text-align: left;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: #4966cb;
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
}

#progressbar #account:before {
}

#progressbar #personal:before {
}

#progressbar #payment:before {
}

#progressbar #confirm:before {
  fill: gray;
}
#progressbar #confirm .img:before {
  fill: gray;
}
#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
  color: #4966cb;
}
#progressbar li.active {
  background-color: white !important;
}

.progress {
  height: 20px;
}

.progress-bar {
  background-color: #673ab7;
}

.fit-image {
  width: 100%;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
  margin: 0;
  padding: 0;
}

/*image approve css */
.img policy-cloud-approve {
  display: inline-block !important;
}
.policy-cloud-approve-img {
  display: inline-block !important;
}

/*
*
* Generic
* ---------------------
*
* These are the styles for generic shortcode elements
*
*/

:root {
  --policycloud-text-color: #111111;
  --policycloud-text-color-secondary: #464646;
  --policycloud-text-color-invert: #f0f0f0;
  --policycloud-text-color-invert-secondary: #c2c2c2;
  --policycloud-highlight-color-dark: #03204a;
  --policycloud-highlight-color-mid: #005cf9;
  --policycloud-highlight-color-light: #00bdf5;
  --policycloud-border-color-light: rgba(0, 0, 0, 0.1);
}

/* Links & buttons */

.policycloud-marketplace a {
  display: inline !important;
  font-size: inherit;
  font-weight: bold;
  color: var(--policycloud-text-color);
  transition: color 0.2s ease-in-out;
}

.policycloud-marketplace a:hover {
  display: inline;
  color: var(--policycloud-highlight-color-mid);
  transition: color 0.2s ease-in-out;
}

.policycloud-marketplace button.action {
  padding: 7px 15px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  background: #ececec !important;
  color: var(--policycloud-text-color) !important;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.policycloud-marketplace button.action:hover {
  cursor: pointer;
  background-color: var(--policycloud-highlight-color-dark) !important;
  color: var(--policycloud-text-color-invert) !important;
  transition: all 0.2s ease-in-out;
}

.policycloud-marketplace button.action.loading {
  opacity: 0.7;
  cursor: wait;
  pointer-events: none;
}

.policycloud-marketplace button.tactile {
  display: block;
  width: 100%;
  text-align: left;
  background-color: transparent !important;
  padding: 10px 0 10px 8px;
  margin: 3px 0;
  color: inherit !important;
  border: none;
  border-radius: 8px;
  text-transform: none;
  transition: all 0.2s ease-in-out;
}

.policycloud-marketplace button.tactile:hover {
  transform: scale(0.98);
  background-color: rgba(0, 0, 0, 0.05) !important;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.policycloud-marketplace button.tactile.active,
.policycloud-marketplace button.tactile:active {
  transform: scale(0.96);
  background-color: rgba(0, 0, 0, 0.1) !important;
  transition: all 0.1s ease-in-out;
}

.policycloud-marketplace button.outlined {
  padding: 4px 8px;
  margin: 0 5px 5px 0;
  background: transparent !important;
  font-size: 100%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  text-decoration: none;
  color: inherit !important;
  text-transform: unset;
  transition: all 0.2s ease-in-out;
}

.policycloud-marketplace button.outlined:hover {
  text-decoration: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.15) !important;
  opacity: 0.9;
  transform: scale(0.99);
  transition: all 0.2s ease-in-out;
}

.policycloud-marketplace button.outlined.active,
.policycloud-marketplace button.outlined:active {
  text-decoration: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.25) !important;
  opacity: 0.8;
  transform: scale(0.97);
  transition: all 0.1s ease-in-out;
}

/* Forms */

.policycloud-marketplace form *:not(button, svg, table, tbody, tr, td) {
  display: block;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.policycloud-marketplace
  form
  fieldset:not(.policycloud-marketplace form fieldset:last-of-type) {
  border-bottom: 1px solid var(--policycloud-border-color-light);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.policycloud-marketplace form fieldset:last-of-type {
  margin-bottom: 20px;
}

.policycloud-marketplace form fieldset h2 {
  font-weight: bold;
  font-size: 125%;
}

.policycloud-marketplace form fieldset p {
  text-align: left;
  max-width: 100%;
  color: var(--policycloud-text-color);
}

.policycloud-marketplace form label {
  display: block;
  float: left;
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0 5px 0;
  padding: 0;
}

.policycloud-marketplace form input,
.policycloud-marketplace form textarea,
.policycloud-marketplace form select {
  display: block;
  font-size: 16px;
  padding: 10px;
  margin: 0 0 10px 0;
  background-color: #ffffff;
  border: 1px double #222222 !important;
  border-radius: 10px;
}

.policycloud-marketplace form select:hover {
  cursor: pointer;
  background-color: #ececec;
}

.policycloud-marketplace form .error {
  width: 100%;
  max-width: 100%;
  font-weight: bold;
  color: darkred;
  text-align: center;
  margin: 25px auto;
  border-radius: 8px;
}

.policycloud-marketplace form button[type="submit"] {
  display: block;
  margin: 0 auto;
}

.policycloud-marketplace form p {
  text-align: center;
  font-size: 14px;
  margin: 20px auto;
  max-width: 60%;
  color: var(--policycloud-text-color-secondary);
}

/* Errors & notices */

.policycloud-marketplace-error.seen,
.policycloud-marketplace-notice.seen {
  display: none;
}

.policycloud-marketplace-error {
  width: 100%;
  max-width: 100%;
  font-weight: bold;
  background-color: salmon;
  color: darkred;
  text-align: center;
  margin: 25px auto;
  border-radius: 8px;
  padding: 10px 15px;
  position: relative;
}

.policycloud-marketplace-notice {
  width: 100%;
  max-width: 100%;
  font-weight: bold;
  background-color: lightblue;
  text-align: center;
  margin: 25px auto;
  border-radius: 8px;
  padding: 10px 15px;
  position: relative;
}

.policycloud-marketplace-alert-close {
  border: none;
  background: red !important;
  position: absolute;
  border-radius: 10px;
  display: inline-block;
  height: 32px;
  font-size: 60%;
  font-weight: bold;
  padding: 0 8px;
  top: -15px;
  color: white !important;
  right: -20px;
}

.policycloud-marketplace-alert-close div {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  height: 5px;
}

/*
*
* My Account
* ---------------------
*
* These are the styles for the 
* [policycloud-marketplace-account] shortcode.
*
*/

/* Generic layout */

#policycloud-account {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  padding: 0;
  height: auto;
}

#policycloud-account-sidebar {
  flex: 0 0 30%;
  padding: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

#policycloud-account-sidebar > .policycloud-account-title {
  display: none;
}

#policycloud-account-sidebar > img {
  width: 90%;
  max-width: 256px;
  margin: 10px auto;
}

#policycloud-account-sidebar > #policycloud-account-hyperlinks {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#policycloud-account-sidebar > #policycloud-account-hyperlinks a {
  display: block;
  padding: 5px 8px;
  transition: all 0.2s ease-in-out;
}

#policycloud-account-sidebar > #policycloud-account-hyperlinks a:hover {
  transform: scale(0.95);
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}

#policycloud-account-sidebar > #policycloud-account-hyperlinks img {
  max-width: 32px;
}

#policycloud-account-sidebar > nav {
  margin-top: 30px;
}

#policycloud-account-sidebar > nav button {
  display: block;
  text-align: left;
}

#policycloud-account-sidebar > nav button.active {
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.1s ease-in-out;
}

#policycloud-account-sidebar > nav button.policycloud-logout {
  color: rgba(185, 16, 16, 0.842);
}

#policycloud-account-content {
  flex: 1;
  margin: 20px;
}

#policycloud-account-content .policycloud-account-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 15px;
  margin-left: -20px;
  padding-left: 20px;
}

.policycloud-account-title h2 {
  font-weight: bold;
}

.policycloud-account-title div {
  font-size: 80%;
  opacity: 0.8;
}

#policycloud-account-content section {
  display: none;
  max-height: 0px;
  margin: 0;
  padding: 0;
}

#policycloud-account-content section.focused {
  display: block;
  max-height: 1000vh;
  opacity: 0;
  margin: 20px 0;
  padding: 0;
  transform: translateY(-10px);
  animation: sweep-in 0.3s ease-in-out forwards;
}

#policycloud-account-content section header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

#policycloud-account-content section header h3,
#policycloud-account-content section h3 {
  font-weight: bold;
  font-size: 110% !important;
}

#policycloud-account-content section header a,
#policycloud-account-content section header button {
  font-weight: bold;
  background-color: #000000;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 80% !important;
  border: none;
  transition: all 0.2s ease-in-out;
}

#policycloud-account-content section header a:hover,
#policycloud-account-content section header button:hover {
  transform: scale(0.98);
  cursor: pointer;
  text-decoration: none;
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

#policycloud-account-content section header a:active,
#policycloud-account-content section header button:active {
  transform: scale(0.97);
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.1s ease-in-out;
}

#policycloud-account-content section header a img,
#policycloud-account-content section header button img {
  max-width: 15px;
  margin: -3px 5px 0 0;
  display: inline-block;
}

/* Overview tab */

section.policycloud-account-overview table,
section.policycloud-account-overview tr,
section.policycloud-account-overview td,
section.policycloud-account-information table,
section.policycloud-account-information tr,
section.policycloud-account-information td {
  border: none;
}

section.policycloud-account-overview table.statistics {
  margin-bottom: 20px;
}

section.policycloud-account-overview table .large-figure {
  font-size: 150%;
  font-weight: bold;
}

/* Objects tab */

section.policycloud-account-objects
  #policycloud-account-object-collection-filters {
  margin-bottom: 20px;
  border-top: 1px solid var(--policycloud-border-color-light);
  border-bottom: 1px solid var(--policycloud-border-color-light);
  padding: 15px 0;
  font-size: 75%;
  font-weight: bold;
}

section.policycloud-account-objects
  #policycloud-account-object-collection-filters
  div {
  margin-bottom: 5px;
}

section.policycloud-account-objects
  #policycloud-account-object-collection-filters
  button {
  margin: 0 5px 5px 0;
}

section.policycloud-account-objects #policycloud-account-objects-list {
  padding: 0 10px 0 0;
  margin: 0;
  max-height: 600px;
  overflow-y: scroll;
}

section.policycloud-account-objects #policycloud-account-objects-list li {
  display: none;
  max-height: 0;
  overflow: hidden;
}

section.policycloud-account-objects
  #policycloud-account-objects-list
  li.visible {
  display: block;
  max-height: 1000vh;
  margin: 5px 0;
  border-top: 1px solid var(--policycloud-border-color-light);
  animation: sweep-in 0.3s ease-in-out forwards;
}

section.policycloud-account-objects #policycloud-account-objects-list li a {
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 0;
  display: block !important;
  transition: all 0.2s ease-in-out;
}

section.policycloud-account-objects
  #policycloud-account-objects-list
  li
  a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transform: scale(0.99);
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

section.policycloud-account-objects
  #policycloud-account-objects-list
  li
  .description {
  margin-left: 10px;
}

/* Information tab */

section.policycloud-account-information table.information {
  margin-top: 20px;
  font-size: 80%;
}

section.policycloud-account-information
  table.information
  tr
  > td:first-of-type {
  max-width: 80px;
  font-weight: bold;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  .folding,
#policycloud-marketplace-description-create .folding {
  display: none;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  .folding.visible,
#policycloud-marketplace-description-create .folding.visible {
  display: block;
  animation: sweep-in 0.3s ease-in-out;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  td:first-of-type {
  min-width: 100px;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  input,
section.policycloud-account-information
  #policycloud-marketplace-account-edit
  select {
  padding: 5px;
  min-width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid rgba(140, 140, 140, 0.2);
  box-sizing: border-box;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  label {
  font-size: 80%;
  opacity: 0.8;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  .error {
  margin: 10px;
  width: 100%;
  padding: 10px 15px;
  font-size: 80% !important;
  font-weight: bold !important;
  background-color: darksalmon;
  border-radius: 8px;
  display: none;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  .error.visible {
  display: block;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  button {
  font-weight: bold;
  background-color: #000000;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 80% !important;
  border: none;
  margin: 15px auto;
  transition: all 0.2s ease-in-out;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  button:hover {
  transform: scale(0.98);
  cursor: pointer;
  text-decoration: none;
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  button:active {
  transform: scale(0.97);
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.1s ease-in-out;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  .unverified {
  font-weight: bold;
  color: darkred;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  button#policycloud-marketplace-resend-verification-email {
  color: inherit;
  background: none;
  padding: 0;
  margin: 0 5px;
  font-size: 100%;
  text-decoration: underline;
}

button#policycloud-marketplace-resend-verification-email.disabled,
a#policycloud-marketplace-resend-verification-email.disabled {
  opacity: 0.8;
}

button#policycloud-marketplace-resend-verification-email.disabled:hover,
a#policycloud-marketplace-resend-verification-email.disabled:hover {
  opacity: 0.8;
  cursor: not-allowed;
  text-decoration: none;
  pointer-events: none;
}

@keyframes sweep-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 650px) {
  #policycloud-account-content > .policycloud-account-title {
    display: none;
  }

  #policycloud-account {
    flex-direction: column;
  }

  #policycloud-account-sidebar {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0 10px 10px 10px;
  }

  #policycloud-account-sidebar > img {
    max-width: 128px;
  }

  #policycloud-account-sidebar > .policycloud-account-title {
    display: block;
    text-align: center;
  }

  #policycloud-account-content {
    padding: 0 10px;
    margin: 0;
  }

  section.policycloud-account-objects #policycloud-account-objects-list {
    padding: 0;
    margin: 0;
    max-height: unset;
    overflow-y: visible;
  }

  section.policycloud-account-objects #policycloud-account-objects-list li a {
    flex-direction: column;
  }

  section.policycloud-account-objects
    #policycloud-account-objects-list
    li
    .thumbnail {
    flex: unset;
    height: 200px;
    margin-bottom: 25px;
  }

  section.policycloud-account-information
    #policycloud-marketplace-account-edit
    input,
  section.policycloud-account-information
    #policycloud-marketplace-account-edit
    select {
    max-width: 50vw;
    max-width: 50vw;
  }

  section.policycloud-account-information
    #policycloud-marketplace-account-edit
    td:first-of-type {
    min-width: 110px;
  }
}
