/*
*
* Generic
* ---------------------
*
* These are the styles for generic shortcode elements
*
*/

:root {
  --policycloud-text-color: #111111;
  --policycloud-text-color-secondary: #464646;
  --policycloud-text-color-invert: #f0f0f0;
  --policycloud-text-color-invert-secondary: #c2c2c2;
  --policycloud-highlight-color-dark: #03204a;
  --policycloud-highlight-color-mid: #005cf9;
  --policycloud-highlight-color-light: #00bdf5;
  --policycloud-border-color-light: rgba(0, 0, 0, 0.1);
  --policycloud-background-color: rgba(253, 253, 253);
  --policycloud-background-notice: lightblue;
  --policycloud-background-notice-outline: rgb(52, 111, 131);
  --policycloud-background-failure: #ffe8e8;
  --policycloud-background-failure-outline: #7f1010;
  --policycloud-background-success: #ecffe8;
  --policycloud-background-success-outline: #3c5e21;
}

/* Links & buttons */

.policycloud-marketplace a {
  display: inline !important;
  text-decoration: none !important;
  font-size: inherit;
  font-weight: bold;
  color: var(--policycloud-text-color);
  transition: color 0.2s ease-in-out;
}

.policycloud-marketplace a:hover {
  text-decoration: none !important;
  display: inline;
  color: var(--policycloud-highlight-color-mid);
  transition: color 0.2s ease-in-out;
}

.policycloud-marketplace button.action {
  padding: 7px 15px;
  border: 1px solid var(--policycloud-background-notice-outline);
  border-radius: 8px;
  background: var(--policycloud-background-notice) !important;
  color: var(--policycloud-text-color) !important;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.policycloud-marketplace button.action.destructive {
  background-color: var(--policycloud-background-failure) !important;
  border-color: var(--policycloud-background-failure-outline);
  color: var(--policycloud-background-failure-outline) !important;
}

.policycloud-marketplace button.action:hover {
  cursor: pointer;
  transform: scale(0.98);
  transition: all 0.2s ease-in-out;
}

.policycloud-marketplace button.action:active {
  opacity: 0.7;
  transform: scale(0.95);
  transition: all 0.1s ease-in-out;
}

.policycloud-marketplace button.action.loading {
  opacity: 0.7;
  cursor: wait;
  pointer-events: none;
}

.policycloud-marketplace button.tactile {
  display: block;
  width: 100%;
  text-align: left;
  background-color: transparent !important;
  padding: 10px 0 10px 8px;
  margin: 3px 0;
  color: inherit !important;
  border: none;
  border-radius: 8px;
  text-transform: none;
  transition: all 0.2s ease-in-out;
}

.policycloud-marketplace button.tactile:hover {
  transform: scale(0.98);
  background-color: rgba(0, 0, 0, 0.05) !important;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.policycloud-marketplace button.tactile.active,
.policycloud-marketplace button.tactile:active {
  transform: scale(0.96);
  background-color: rgba(0, 0, 0, 0.1) !important;
  transition: all 0.1s ease-in-out;
}

.policycloud-marketplace button.outlined {
  padding: 4px 8px;
  margin: 0 5px 5px 0;
  background: transparent !important;
  font-size: 100%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  text-decoration: none;
  color: inherit !important;
  text-transform: unset;
  transition: all 0.2s ease-in-out;
}

.policycloud-marketplace button.outlined:hover {
  text-decoration: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.15) !important;
  opacity: 0.9;
  transform: scale(0.99);
  transition: all 0.2s ease-in-out;
}

.policycloud-marketplace button.outlined.active,
.policycloud-marketplace button.outlined:active {
  text-decoration: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.25) !important;
  opacity: 0.8;
  transform: scale(0.97);
  transition: all 0.1s ease-in-out;
}

.policycloud-marketplace a.pill,
.policycloud-marketplace span.pill {
  display: inline-block !important;
  font-size: 90%;
  font-weight: 500;
  padding: 0 10px;
  background-color: var(--policycloud-border-color-light);
  border-radius: 100px;
}

.policycloud-marketplace h1 {
  /* Other */
  font-size: 40px;
  font-weight: bold;
}

.policycloud-marketplace h2 {
  /* Other */
  font-size: 28px;
  font-weight: bold;
}

.policycloud-marketplace h3 {
  margin-bottom: 10px;

  /* Other */
  font-size: 22px;
  font-weight: bold;
}

.policycloud-marketplace h4 {
  /* Other */
  font-size: 20px;
  font-weight: 500;
}

.policycloud-marketplace p {
  line-height: 1.3em;
}

.policycloud-marketplace span.label {
  background-color: var(--policycloud-background-notice);
  border-radius: 100px;
  font-size: 12px;
  font-weight: 600;
  display: inline-block !important;
  padding: 0 10px;
  border: 1px solid var(--policycloud-background-notice-outline);
  color: var(--policycloud-text-color);
}

.policycloud-marketplace span.label.success {
  background-color: var(--policycloud-background-success);
  border: 1px solid var(--policycloud-background-success-outline);
}

/* Pagination */

.policycloud-marketplace nav.pagination {
  text-align: center;
}

.policycloud-marketplace nav.pagination button {
  border: none;
  border-radius: 5px;
  padding: 0 8px;
  margin: 0 2px;
  background: transparent !important;
  color: inherit !important;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
}

.policycloud-marketplace nav.pagination button:hover {
  background: rgba(0, 0, 0, 0.05) !important;
  transition: all 0.1s ease-in-out;
}

.policycloud-marketplace nav.pagination button:active {
  transform: scale(0.98);
  opacity: 0.5;
  transition: all 0.1s ease-in-out;
}

.policycloud-marketplace nav.pagination button.active {
  font-weight: bold;
  background: rgba(0, 0, 0, 0.05) !important;
}

/* Forms */

.policycloud-marketplace
  form
  *:not(button, svg, table, tbody, tr, td, span, h1, h2, h3, h4) {
  display: block;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.policycloud-marketplace
  form
  fieldset:not(.policycloud-marketplace form fieldset:last-of-type) {
  border-bottom: 1px solid var(--policycloud-border-color-light);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.policycloud-marketplace form fieldset:last-of-type {
  margin-bottom: 20px;
}

.policycloud-marketplace form fieldset h2 {
  font-weight: bold;
  font-size: 125%;
}

.policycloud-marketplace form fieldset p {
  text-align: left;
  max-width: 100%;
  color: var(--policycloud-text-color);
}

.policycloud-marketplace form label {
  display: block;
  float: left;
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0 5px 0;
  padding: 0;
}

.policycloud-marketplace form input:not(input[type="file"]),
.policycloud-marketplace form textarea,
.policycloud-marketplace form select {
  display: block;
  font-size: 16px;
  padding: 10px;
  margin: 0 0 10px 0;
  background-color: #ffffff;
  border: 1px double #222222 !important;
  border-radius: 10px;
}

.policycloud-marketplace form select:hover {
  cursor: pointer;
  background-color: #ececec;
}

.policycloud-marketplace form .error {
  width: 100%;
  max-width: 100%;
  font-weight: bold;
  color: darkred;
  text-align: center;
  margin: 25px auto;
  border-radius: 8px;
}

.policycloud-marketplace form button[type="submit"] {
  display: block;
  margin: 0 auto;
}

.policycloud-marketplace form p {
  text-align: center;
  font-size: 14px;
  margin: 20px auto;
  max-width: 60%;
  color: var(--policycloud-text-color-secondary);
}

/* Locked content */
.policycloud-marketplace .lock {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--policycloud-border-color-light);
  border-radius: 12px;
}

.policycloud-marketplace .lock > img {
  margin-bottom: 10px;
  width: 60px;
}

.policycloud-marketplace .lock > p {
  margin-top: 10px;
  text-align: center;
  width: 80%;
}

/* File viewer */

.policycloud-marketplace .file-viewer {
  margin: 10px;
  width: 100%;
}

.policycloud-marketplace .file-viewer > button {
  width: 100%;
}

.policycloud-marketplace .file-viewer > table {
  box-sizing: border-box;
  display: block;
  margin: 0 10px 10px 10px;
  width: 95%;
  border-radius: 12px;
  border: 1px solid vaR(--policycloud-border-color-light);
  overflow: hidden;
  padding-top: 30px;
  margin-top: -30px;

  /* Other */
  font-size: 14px;
  border-collapse: collapse;
}

.policycloud-marketplace .file-viewer.collapsed > table {
  display: none;
}

.policycloud-marketplace .file-viewer > table tbody {
  display: table;
  min-width: 100%;
}

.policycloud-marketplace .file-viewer > table td,
.policycloud-marketplace .file-viewer > table th {
  max-width: 150px;
  word-wrap: break-word;
  vertical-align: top;
  border-top: unset;
  border-bottom: 1px solid var(--policycloud-border-color-light) !important;
  border-left: 1px solid var(--policycloud-border-color-light) !important;
  border-right: 1px solid var(--policycloud-border-color-light) !important;
  padding: 5px 7px;
}

.policycloud-marketplace .file-viewer > table td:not(:first-of-type) {
  text-align: right;
}

/* File editor */

.policycloud-marketplace .file-editor {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  position: relative;
  --image-width: 100px;
}

.policycloud-marketplace .file-editor > * {
  display: inline-block;
}

.policycloud-marketplace .file-editor img {
  max-width: var(--image-width);
  border-radius: 8px;
}

.policycloud-marketplace .file-editor button.delete {
  padding: 3px !important;
  text-align: center;
  border-radius: 100px !important;
  height: 24px;
  width: 24px;
  margin: 0 !important;
  position: absolute;
  top: -6px;
  left: calc(var(--image-width) - 18px);
  background-color: var(--policycloud-background-failure-outline) !important;
}

.policycloud-marketplace .file-editor button.delete:disabled {
  cursor: wait !important;
  z-index: 10;
  background-color: rgba(150, 150, 150, 0.5) !important;
}

/* Errors & notices */

.policycloud-marketplace-error {
  width: 100%;
  max-width: 100%;
  max-height: auto;
  font-weight: bold;
  background-color: salmon;
  color: darkred;
  text-align: center;
  margin: 10px auto !important;
  border-radius: 8px;
  padding: 10px 15px;
  position: relative;
}

.policycloud-marketplace-error.animated,
.policycloud-marketplace-notice.animated {
  animation: show-error 0.2s ease-in-out;
}

.policycloud-marketplace-error.animated.seen,
.policycloud-marketplace-notice.animated.seen {
  max-height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: opacity 0.1s, max-height 0.2s, padding 0.2s, margin 0.2s;
}

.policycloud-marketplace-error.animated.seen.dismissed,
.policycloud-marketplace-notice.animated.seen.dismissed {
  display: none;
}

@keyframes show-error {
  0% {
    max-height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    max-height: inherit;
    padding: 10px 15px;
    margin: inherit;
    opacity: inherit;
  }
}

.policycloud-marketplace-notice {
  width: 100%;
  max-width: 100%;
  font-weight: bold;
  background-color: lightblue;
  text-align: center;
  margin: 25px auto;
  border-radius: 8px;
  padding: 10px 15px;
  position: relative;
}

.policycloud-marketplace-alert-close {
  border: none;
  background: red !important;
  position: absolute;
  border-radius: 10px;
  display: inline-block;
  height: 32px;
  font-size: 60%;
  font-weight: bold;
  padding: 0 8px;
  top: -15px;
  color: white !important;
  right: -20px;
}

.policycloud-marketplace-alert-close div {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  height: 5px;
}

/*
* ---------------------
* Assets
* ---------------------
*
* These are the styles for the assets related shortcodes.
*
*/

/*
* 
* Assets grid
* ---------------------
*
* These are the styles for the asset grid.
*
*/

#policycloud-marketplace-assets-grid > ul {
  /* Display & Box Model */
  display: flex;
  flex-wrap: wrap;
  padding: 24px;

  /* Other */
  list-style-type: none;
}

#policycloud-marketplace-assets-grid > ul > li {
  /* Display & Box Model */
  flex: 1 0 300px;
  margin: 10px;
  padding: 0;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;

  /* Other */
  background-color: var(--policycloud-background-color);
  transition: all 0.2s ease-in-out;
}

#policycloud-marketplace-assets-grid > ul > li > a {
  /* Display & Box Model */
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

#policycloud-marketplace-assets-grid > ul > li > a > *:not(.cover) {
  /* Display & Box Model */
  margin: 10px 15px;

  /* Other */
  font-weight: normal;
}

#policycloud-marketplace-assets-grid > ul > li > a > .cover > div {
  /* Display & Box Model */
  margin: 10px 15px;

  /* Other */
  font-weight: normal;
}

#policycloud-marketplace-assets-grid > ul > li:hover {
  /* Positioning */
  transform: scale(0.985);

  /* Other */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

#policycloud-marketplace-assets-grid > ul > li > a:hover {
  /* Other */
  color: inherit !important;
}

#policycloud-marketplace-assets-grid > ul > li > a img {
  /* Display & Box Model */
  max-height: 150px;
  width: 100%;

  /* Other */
  object-fit: cover;
}

#policycloud-marketplace-assets-grid > ul > li > a h4 {
  /* Display & Box Model */
  margin-top: 10px;
}

#policycloud-marketplace-assets-grid > ul > li > a p {
  /* Display & Box Model */
  margin: 10px 0;

  /* Other */
  color: var(--policycloud-text-color-secondary);
  font-size: 16px;
}

#policycloud-marketplace-assets-grid > ul > li > a > .metadata {
  /* Display & Box Model */
  margin-top: 0;
  width: 100%;
}

#policycloud-marketplace-assets-grid > ul > li > a > .metadata > * {
  /* Display & Box Model */
  margin: 0;
}

#policycloud-marketplace-assets-grid > ul > li > a .owner {
  /* Other */
  font-size: 14px;
  font-weight: 500;
}

#policycloud-marketplace-assets-grid > ul > li > a .last-updated {
  /* Other */
  font-size: 12px;
  color: var(--policycloud-text-color-secondary);
}

#policycloud-marketplace-assets-grid > ul > li > a .reviews {
  /* Other */
  font-size: 14px;
}

#policycloud-marketplace-assets-grid > ul > li > a .views {
  /* Other */
  font-size: 14px;
}

#policycloud-marketplace-assets-grid > ul > li > a .type,
#policycloud-marketplace-assets-grid > ul > li > a .sub-type {
  /* Other */
  font-size: 14px;
}

/*
* 
* Assets archive
* ---------------------
*
* These are the styles for the 
* [policycloud-marketplace-read-multiple] shortcode.
*
*/

#policycloud-marketplace-asset-archive {
  /* Display & Box Model */
  display: flex;
  width: 100%;
  max-width: 100%;
}

/**
* Assets archive filters
*/

#policycloud-marketplace-asset-archive > .filters {
  /* Display & Box Model */
  display: none;
  flex-grow: 0;
  padding: 33px;
  border-right: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

#policycloud-marketplace-asset-archive.inspect > .filters {
  /* Display & Box Model */
  display: block;
  flex-grow: 25%;
  border-right: 1px solid var(--policycloud-border-color-light);

  /* Other */
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

#policycloud-marketplace-asset-archive > .filters > p {
  /* Display & Box Model */
  margin: 15px 0;

  /* Other */
  color: var(--policycloud-text-color-secondary);
}

#policycloud-marketplace-asset-archive > .filters > form fieldset {
  /* Display & Box Model */
  padding: 0;
  margin: 15px 0;
  border: unset;
}

#policycloud-marketplace-asset-archive > .filters > form fieldset label {
  float: unset;
}

#policycloud-marketplace-asset-archive > .filters > form fieldset .views,
#policycloud-marketplace-asset-archive > .filters > form fieldset .dates {
  /* Display & Box Model */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

#policycloud-marketplace-asset-archive > .filters > form fieldset .dates div,
#policycloud-marketplace-asset-archive > .filters > form fieldset .views div {
  width: 48%;
}

#policycloud-marketplace-asset-archive > .content {
  /* Display & Box Model */
  flex: 1 0 0;
  padding: 0;
}

#policycloud-marketplace-asset-archive.inspect > .content {
  /* Display & Box Model */
  flex: 75% 0 0;
}

#policycloud-marketplace-asset-archive > .content > header {
  /* Display & Box Model */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 17px 17px 17px;
  border-bottom: 1px solid var(--policycloud-border-color-light);
}

#policycloud-marketplace-asset-archive > .content > header .filters-toggle {
  /* Display & Box Model */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 34px;
  width: 42px;
  padding: 10px 10px;
  box-sizing: border-box;
}

#policycloud-marketplace-asset-archive > .content > header .filters-toggle div {
  /* Display & Box Model */
  width: 30px;
  height: 2px;
  border-radius: 2px;
  margin: 0;

  /* Other */
  background-color: var(--policycloud-text-color);
}

#policycloud-marketplace-asset-archive > .content > header > form {
  /* Display & Box Model */
  display: flex;
  align-items: center;
}

#policycloud-marketplace-asset-archive > .content > header > form > * {
  margin: 0;
}

#policycloud-marketplace-asset-archive > .content > .gallery {
  padding: 10px;
}

/*
* 
* Asset
* ---------------------
*
* These are the styles for the 
* [policycloud-marketplace-read-single] shortcode.
*
*/

#policycloud-marketplace-asset {
  /* Display & Box Model */
  width: 95%;
  max-width: 1200px;
}

#policycloud-marketplace-asset h2 {
  margin-bottom: 10px;
}

/**
* Asset header
*/

#policycloud-marketplace-asset > header {
  /* Display & Box Model */
  border-bottom: 1px solid var(--policycloud-border-color-light);
}

#policycloud-marketplace-asset > header > .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#policycloud-marketplace-asset > header > .title > h1 .status {
  /* Display & Box Model */
  font-size: 18px;
  padding: 5px 10px;
  display: inline-block;
}

#policycloud-marketplace-asset > header > .title > button {
  flex-basis: 150px;
  height: 50px;
  margin-left: 40px;
}

#policycloud-marketplace-asset > header > .metadata {
  /* Display & Box Model */
  margin: 20px 0;

  /* Other */
  font-size: 16px;
}

#policycloud-marketplace-asset > header > .metadata > span:not(:last-of-type) {
  /* Display & Box Model */
  padding-right: 15px;
  border-right: 1px solid var(--policycloud-border-color-light);
  margin-right: 10px;
}

#policycloud-marketplace-asset > header > .metadata > .provider {
  /* Other */
  font-size: 22px;
  font-weight: 500;
}

#policycloud-marketplace-asset > header > .metadata > .type,
#policycloud-marketplace-asset > header > .metadata > .sub-type {
  /* Display & Box Model */
  padding-right: 10px !important;

  /* Other */
  font-size: 14px;
}

#policycloud-marketplace-asset > header > .metadata > .fields-of-use > span {
  /* Display & Box Model */
  margin-right: 10px;

  /* Other */
  font-size: 16px;
  text-decoration: underline;
}

/**
* Asset content
*/

#policycloud-marketplace-asset > .content {
  /* Display & Box Model */
  display: flex;
}

#policycloud-marketplace-asset > .content > * {
  /* Display & Box Model */
  padding: 20px 20px 0 20px;
}

#policycloud-marketplace-asset > .content > .files {
  /* Display & Box Model */
  flex: 0.5;
  border-right: 1px solid var(--policycloud-border-color-light);
}

#policycloud-marketplace-asset > .content > .files > .comments {
  /* Display & Box Model */
  margin-top: 20px;
}

#policycloud-marketplace-asset > .content > .information {
  /* Display & Box Model */
  flex: 1;
}

#policycloud-marketplace-asset > .content > .information > .description {
  /* Display & Box Model */
  margin-bottom: 20px;
}

#policycloud-marketplace-asset > .content > .information > .gallery > .slider {
  /* Display & Box Model */
  display: flex;
  margin-top: 20px;
  width: 100%;
  overflow-x: scroll;
}

#policycloud-marketplace-asset
  > .content
  > .information
  > .gallery
  > .slider
  > img {
  /* Display & Box Model */
  height: 200px;
  width: auto;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

#policycloud-marketplace-asset
  > .content
  > .information
  > .gallery
  > .slider
  > img:hover {
  /* Display & Box Model */
  cursor: pointer;
  transform: scale(0.98);
  transition: transform 0.2s ease-in-out;
}

#policycloud-marketplace-asset > .content > .information > .gallery > .modal {
  /* Positioning */
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;

  /* Display & Box Model */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  animation: fade-in 0.2s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#policycloud-marketplace-asset
  > .content
  > .information
  > .gallery
  > .modal
  button {
  z-index: 950;
  position: absolute;
  right: 0;
  top: 0;
}

#policycloud-marketplace-asset
  > .content
  > .information
  > .gallery
  > .modal
  img {
  /* Positioning */
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 920;

  /* Display & Box Model */
  width: 50vh;
  border-radius: 12px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);*/

  /* Other */
  transform: translate(-50%, -50%);
}

#policycloud-marketplace-asset
  > .content
  > .information
  > .gallery
  > .modal::before {
  /* Positioning */
  position: absolute;
  z-index: 910;
  top: 0;
  left: 0;

  /* Display & Box Model */
  width: 100vw;
  height: 100vh;

  /* Other */
  background-color: rgba(0, 0, 0, 0.5);
  content: " ";
}

/**
* Asset editing form
*/

#policycloud-marketplace-asset .editing-form.hidden {
  display: none;
}

#policycloud-marketplace-asset .editing-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 500;
}

#policycloud-marketplace-asset .editing-form .close {
  z-index: 550;
  position: absolute;
  top: 0;
  right: 0;
}

#policycloud-marketplace-asset .editing-form form {
  background-color: var(--policycloud-background-color);
  padding: 20px;
  position: absolute;
  width: 75vw;
  border-radius: 12px;
  height: 75vh;
  overflow-y: scroll;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 550;
}

#policycloud-marketplace-asset .editing-form form fieldset {
  border: none;
}

#policycloud-marketplace-asset .editing-form::before {
  z-index: 525;
  display: block;
  content: " ";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

#policycloud-marketplace-asset .editing-form .fieldset {
  border: none;
}

#policycloud-marketplace-asset .editing-form input[type="file"] {
  font-size: 14px;
  margin-bottom: 20px;
}

#policycloud-marketplace-asset .editing-form .file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  border: 1px solid var(--policycloud-border-color-light);
  border-radius: 12px;
  padding: 7.5px 15px;
  margin: 10px 0;
}

#policycloud-marketplace-asset .editing-form .file > * {
  margin-right: 15px;
}

#policycloud-marketplace-asset .editing-form .file > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#policycloud-marketplace-asset .editing-form .file input[type="file"] {
  margin-bottom: 0;
}

#policycloud-marketplace-asset .editing-form .file .delete {
  padding: 0px 6px;
  margin-right: 15px;
  display: block;
  border-radius: 100px;
  border: none;
  font-size: 14px;
  background-color: var(--policycloud-background-failure-outline) !important;
  color: var(--policycloud-text-color-invert) !important;
  transition: all 0.2s ease-in-out;
}

#policycloud-marketplace-asset .editing-form .file .delete:hover {
  border: none;
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}

/*
* ---------------------
* Accounts
* ---------------------
*
* These are the styles for the accounts related shortcodes.
*
*/

/*
*
* Registration
* ---------------------
*
* These are the styles for the 
* [policycloud-marketplace-registration] shortcode.
*
*/

#policycloud-registration .socials div div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#policycloud-registration .socials div div * {
  display: block;
  height: auto;
  max-height: unset;
  margin: 0 8px 0 0;
}

#policycloud-registration .socials div button.remove-field,
#policycloud-registration .socials div button.remove-field * {
  padding: 0;
  margin: 0 0 0 3px;
  border: none;
  box-sizing: border-box;
  background: none !important;
  color: var(--policycloud-text-color) !important;
  transition: opacity 0.2s ease-in-out;
}

#policycloud-registration .socials div button.remove-field:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

#policycloud-registration .socials div button.remove-field:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  transition: opacity 0.2s ease-in-out;
}

#policycloud-registration .socials > button.add-field {
  padding: 3px 5px;
  display: block;
  height: auto;
  line-height: normal;
  background: none !important;
  color: var(--policycloud-text-color);
  font-size: 75%;
  margin: 10px 0;
  padding: 0;
  border: none;
}

#policycloud-registration .socials > button.add-field:hover {
  cursor: pointer;
  opacity: 0.8;
}

/*
*
* My Account
* ---------------------
*
* These are the styles for the 
* [policycloud-marketplace-account] shortcode.
*
*/

/* Generic layout */

#policycloud-account {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  padding: 0;
  height: auto;
}

#policycloud-account-sidebar {
  flex: 0 0 30%;
  padding: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

#policycloud-account-sidebar > .policycloud-account-title {
  display: none;
}

#policycloud-account-sidebar > img {
  width: 90%;
  object-fit: cover;
  max-width: 256px;
  max-height: 256px;
  min-width: 256px;
  min-height: 256px;
  margin: 10px auto;
  border-radius: 1000px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#policycloud-account-sidebar > nav {
  margin-top: 30px;
}

#policycloud-account-sidebar > nav button {
  display: block;
  text-align: left;
}

#policycloud-account-sidebar > nav button.active {
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.1s ease-in-out;
}

#policycloud-account-sidebar > nav button.policycloud-logout {
  color: rgba(185, 16, 16, 0.842) !important;
}

#policycloud-account-content {
  flex: 1;
  margin: 20px;
}

#policycloud-account-content .policycloud-account-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 15px;
  margin-left: -20px;
  padding-left: 20px;
}

.policycloud-account-title h2 {
  font-weight: bold;
}

.policycloud-account-title div {
  font-size: 80%;
  opacity: 0.8;
}

#policycloud-account-content section {
  display: none;
  max-height: 0px;
  margin: 0;
  padding: 0;
}

#policycloud-account-content section.focused {
  display: block;
  max-height: 1000vh;
  opacity: 0;
  margin: 20px 0;
  padding: 0;
  transform: translateY(-10px);
  animation: sweep-in 0.3s ease-in-out forwards;
}

#policycloud-account-content section header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

#policycloud-account-content section header h3,
#policycloud-account-content section h3 {
  font-weight: bold;
  font-size: 110% !important;
}

#policycloud-account-content section header a,
#policycloud-account-content section header button {
  font-weight: bold;
  background-color: #000000;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 80% !important;
  border: none;
  transition: all 0.2s ease-in-out;
}

#policycloud-account-content section header a:hover,
#policycloud-account-content section header button:hover {
  transform: scale(0.98);
  cursor: pointer;
  text-decoration: none;
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

#policycloud-account-content section header a:active,
#policycloud-account-content section header button:active {
  transform: scale(0.97);
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.1s ease-in-out;
}

#policycloud-account-content section header a img,
#policycloud-account-content section header button img {
  max-width: 15px;
  margin: -3px 5px 0 0;
  display: inline-block;
}

/* Overview tab */

section.policycloud-account-overview p {
  font-size: 90%;
  color: var(--policycloud-text-color-secondary);
}

section.policycloud-account-overview ul {
  padding: 0;
  margin: 10px 0;
  font-size: 80%;
  list-style-type: none;
}

section.policycloud-account-overview ul li {
  margin-right: 7px;
  display: inline-block;
}

section.policycloud-account-overview h4 {
  font-size: 18px;
  margin: 20px 0;
}

section.policycloud-account-overview table,
section.policycloud-account-overview tr,
section.policycloud-account-overview td,
section.policycloud-account-information table,
section.policycloud-account-information tr,
section.policycloud-account-information td {
  border: none;
}

section.policycloud-account-overview table.statistics {
  margin-bottom: 20px;
}

section.policycloud-account-overview table .large-figure {
  font-size: 150%;
  font-weight: bold;
}

/* Assets tab */

#policycloud-account-content section header form.selector {
  display: inline;
}
#policycloud-account-content section header form.selector * {
  width: auto;
  display: inline-block;
  float: none;
  margin-right: 5px;
  padding: 0 5px;
}

#policycloud-account-content section .collection-filters {
  margin-bottom: 20px;
  border-top: 1px solid var(--policycloud-border-color-light);
  border-bottom: 1px solid var(--policycloud-border-color-light);
  padding: 15px 0;
  font-size: 75%;
  font-weight: bold;
}

#policycloud-account-content section .collection-filters,
div {
  margin-bottom: 5px;
}

#policycloud-account-content section .collection-filters button {
  margin: 0 5px 5px 0;
}

#policycloud-account-content section .paginated-list .page {
  display: none;
  padding: 0 10px 0 0;
  margin: 0;
}

#policycloud-account-content section .paginated-list .page.visible {
  display: block;
}

#policycloud-account-content section .paginated-list .page li {
  display: none;
  max-height: 0;
  overflow: hidden;
}

#policycloud-account-content section .paginated-list .page li.visible {
  display: block;
  max-height: 1000vh;
  margin: 5px 0;
  padding: 15px 10px;
  border-top: 1px solid var(--policycloud-border-color-light);
  animation: sweep-in 0.3s ease-in-out forwards;
}

#policycloud-account-content section .paginated-list .page li h4 {
  margin-bottom: 10px;
}

#policycloud-account-content section .paginated-list .page li > div > a {
  text-decoration: none;
  border-radius: 10px;
  display: block !important;
  transition: all 0.2s ease-in-out;
}

#policycloud-account-content section .paginated-list .page li > div > p {
  color: var(--policycloud-text-color-secondary);
  font-size: 80%;
}

#policycloud-account-content section .paginated-list .page li .metadata {
  font-size: 70%;
  margin-top: 10px;
  color: var(--policycloud-text-color-secondary);
}

#policycloud-account-content
  section
  .paginated-list
  .page
  li
  .metadata
  a:last-of-type,
#policycloud-account-content section .paginated-list .page li .metadata span {
  display: inline-block;
  margin-right: 8px;
}

/* Reviews tab */

section.policycloud-account-reviews #policycloud-account-reviews-list .rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

section.policycloud-account-reviews .paginated-list .rating span:first-of-type {
  font-size: 32px;
  font-weight: bold;
}

section.policycloud-account-reviews .paginated-list .rating span:last-of-type {
  font-size: 16px;
  margin-left: 10px;
  color: var(--policycloud-text-color-secondary);
}

section.policycloud-account-reviews .paginated-list .review p {
  color: var(--policycloud-text-color);
  margin: 15px 0;
}

section.policycloud-account-reviews .paginated-list .review a {
  text-decoration: none;
}

section.policycloud-account-reviews .paginated-list .review .metadata {
  font-size: 14px;
  margin-top: 10px;
}

/* Information tab */

section.policycloud-account-information table.information {
  margin-top: 20px;
  font-size: 80%;
}

section.policycloud-account-information
  table.information
  tr
  > td:first-of-type {
  max-width: 80px;
  font-weight: bold;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  .folding,
#policycloud-marketplace-description-create .folding {
  display: none;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  .critical-action {
  display: none;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  .critical-action.visible {
  display: block;
  animation: sweep-in 0.3s ease-in-out;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  .folding.visible,
#policycloud-marketplace-description-create .folding.visible {
  display: table-cell;
  animation: sweep-in 0.3s ease-in-out;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  td:first-of-type {
  min-width: 100px;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  input,
section.policycloud-account-information
  #policycloud-marketplace-account-edit
  select {
  padding: 5px 10px;
  min-width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid rgba(140, 140, 140, 0.2);
  box-sizing: border-box;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  label {
  font-size: 80%;
  opacity: 0.8;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  .socials
  input {
  min-width: unset;
  margin-right: 8px;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  .socials
  div
  div {
  display: flex;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  .socials
  button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  .socials
  input {
  line-height: normal;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  div.error,
section.policycloud-account-information
  #policycloud-marketplace-account-edit
  div.notice {
  margin: 10px;
  width: 100%;
  padding: 10px 15px;
  font-size: 80% !important;
  font-weight: bold !important;
  border-radius: 8px;
  display: none;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  div.error {
  background-color: var(--policycloud-background-failure);
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  div.notice {
  background-color: var(--policycloud-background-notice);
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  div.error.visible,
section.policycloud-account-information
  #policycloud-marketplace-account-edit
  div.notice.visible {
  display: block;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  button {
  font-weight: bold;
  background-color: #000000;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 80% !important;
  border: none;
  margin: 15px auto;
  transition: all 0.2s ease-in-out;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  button:hover {
  transform: scale(0.98);
  cursor: pointer;
  text-decoration: none;
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  button:active {
  transform: scale(0.97);
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.1s ease-in-out;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  .unverified {
  font-weight: bold;
  color: darkred;
}

section.policycloud-account-information
  #policycloud-marketplace-account-edit
  button#policycloud-marketplace-resend-verification-email {
  color: inherit;
  background: none;
  padding: 0;
  margin: 0 5px;
  font-size: 100%;
  text-decoration: underline;
}

section.policycloud-account-information button.action {
  display: block;
  margin: 15px 0;
}

section.policycloud-account-information
  #policycloud-marketplace-delete-account
  div {
  display: none;
}

section.policycloud-account-information
  #policycloud-marketplace-delete-account
  div.policycloud-marketplace-error {
  display: block;
}

section.policycloud-account-information
  #policycloud-marketplace-delete-account
  div.visible {
  display: block;
}

button#policycloud-marketplace-resend-verification-email.disabled,
a#policycloud-marketplace-resend-verification-email.disabled {
  opacity: 0.8;
}

button#policycloud-marketplace-resend-verification-email.disabled:hover,
a#policycloud-marketplace-resend-verification-email.disabled:hover {
  opacity: 0.8;
  cursor: not-allowed;
  text-decoration: none;
  pointer-events: none;
}

@keyframes sweep-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 650px) {
  #policycloud-account-content > .policycloud-account-title {
    display: none;
  }

  #policycloud-account {
    flex-direction: column;
  }

  #policycloud-account-sidebar {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0 10px 10px 10px;
  }

  #policycloud-account-sidebar > img {
    max-width: 128px;
  }

  #policycloud-account-sidebar > .policycloud-account-title {
    display: block;
    text-align: center;
  }

  #policycloud-account-content {
    padding: 0 10px;
    margin: 0;
  }

  #policycloud-account-content section #policycloud-account-assets-list {
    padding: 0;
    margin: 0;
    max-height: unset;
    overflow-y: visible;
  }

  #policycloud-account-content section #policycloud-account-assets-list li a {
    flex-direction: column;
  }

  #policycloud-account-content
    section
    #policycloud-account-assets-list
    li
    .thumbnail {
    flex: unset;
    height: 200px;
    margin-bottom: 25px;
  }

  section.policycloud-account-reviews #policycloud-account-reviews-list li {
    margin: 10px 0;
  }

  section.policycloud-account-information
    #policycloud-marketplace-account-edit
    input,
  section.policycloud-account-information
    #policycloud-marketplace-account-edit
    select {
    max-width: 50vw;
    max-width: 50vw;
  }

  section.policycloud-account-information
    #policycloud-marketplace-account-edit
    td:first-of-type {
    min-width: 110px;
  }
}
