/*
* ---------------------
* Accounts
* ---------------------
*
* These are the styles for the accounts related shortcodes.
*
*/

/*
*
* SSO Actions
* ---------------------
*
*/

.policyms-oauth-buttons {
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

#google-signin,
#google-registration {
  display: inline-block;
}

#google-signin iframe,
#google-registration iframe {
  margin: 0 !important;
}

.policyms-oauth-buttons button {
  margin-bottom: 10px;
  padding: 10px 14px 9px 10px !important;
  font-weight: 600;
  font-size: 11.5pt;
  width: 100%;
  max-width: 400px;
}

.policyms-oauth-buttons button[data-action="show-keycloak-modal"] {
  display: inline-block;
  border: none !important;
  background: rgb(99, 156, 255) !important;
  background: linear-gradient(
    307deg,
    rgba(99, 156, 255, 1) 0%,
    rgba(53, 112, 214, 1) 99%
  ) !important;
  border-radius: 4px !important;
}

.policyms-oauth-buttons button[data-action="show-keycloak-modal"]::before {
  content: " ";
  display: inline-block;
  width: 28px;
  height: 14px;
  margin-right: 6px;
  background-image: url(../assets/img/policycloud.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.policyms-oauth-buttons button[data-action="policyms-redirect-egi"] {
  display: inline-block;
  background: rgb(255, 127, 0) !important;
  background: rgb(255, 90, 6) !important;
  background: linear-gradient(
    54deg,
    rgba(255, 90, 6, 1) 0%,
    rgba(255, 127, 0, 1) 99%
  ) !important;
  border-radius: 4px !important;
}

.policyms-oauth-buttons button[data-action="policyms-redirect-egi"]::before {
  content: " ";
  display: inline-block;
  width: 32px;
  height: 18px;
  margin-right: 6px;
  margin-bottom: -3px;
  background-image: url(../assets/img/egi.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.policyms .sso-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.policyms .sso-divider > span {
  display: block;
  margin: 0 10px;
  font-size: 10pt;
  color: var(--policyms-text-color-secondary);
}

/*
*
* Authentication
* ---------------------
*
* These are the styles for the 
* [policyms-authentication] shortcode.
*
*/

.policyms-user-authentication {
  max-width: 600px;
}

.policyms-user-authentication > p {
  margin-top: 20px;
  text-align: center;
}

.policyms-password-reset form {
  max-width: 600px;
  margin: 20px 0;
}

/*
*
* Registration
* ---------------------
*
* These are the styles for the 
* [policyms-registration] shortcode.
*
*/

.policyms-user-registration {
  max-width: 600px;
}
.policyms-user-registration > p:last-of-type {
  margin-top: 20px;
  text-align: center;
}

.policyms-user-registration > form > .tos-agree {
  display: flex;
  justify-content: center;
  align-items: center;
}

.policyms-user-registration > form > .tos-agree label {
  padding-left: 6px;
  margin: 0;
}

/*
*
* My Account
* ---------------------
*
* These are the styles for the 
* [policyms-account] shortcode.
*
*/

/* Generic layout */

.policyms-user {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 0;
  margin-bottom: 20px;
}

.policyms-user > aside.sidebar {
  flex: 0 0 30%;
  padding: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.policyms-user > aside.sidebar > .policyms-user > main > header {
  display: none;
}

.policyms-user > aside.sidebar > img {
  display: block;
  width: 90%;
  min-width: 256px;
  max-width: 256px;
  min-height: 256px;
  max-height: 256px;
  margin: 10px auto;
  object-fit: cover;
  border-radius: 1000px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.policyms-user > aside.sidebar > nav {
  margin-top: 30px;
}

.policyms-user > aside.sidebar > nav button {
  display: block;
  text-align: left;
  width: 100%;
  font-weight: 500;
}

.policyms-user > aside.sidebar > nav button.active {
  background-color: rgba(0, 0, 0, 0.05) !important;
  transition: all 0.1s ease-in-out;
}

.policyms-user > aside.sidebar > nav button .pill {
  display: inline-block;
  margin-left: 4px;
  font-size: 75%;
  font-weight: bold;
}

.policyms-user > aside.sidebar > nav > hr {
  display: block;
  height: 0px;
  border: 0.5px solid var(--policyms-border-color-light);
  margin: 15px 0;
  border-collapse: collapse;
}

.policyms-user > aside.sidebar > nav button.policyms-logout {
  color: rgba(185, 16, 16, 0.842) !important;
}

.policyms-user > main {
  flex: 1;
  margin: 20px;
}

.policyms-user > main .policyms-user > main > header {
  padding-bottom: 15px;
  padding-left: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-left: -20px;
}

.policyms-user > main > header > .title {
  font-weight: bold;
  margin: 0;
  font-size: 24pt;
}

.policyms-user > main > header > .organization {
  font-size: 11pt;
  color: var(--policyms-text-color-secondary);
  font-weight: bold;
}

.policyms-user > main > section {
  display: block;
  max-height: 1000vh;
  padding: 0;
  margin: 20px 0;
}

.policyms-user > main > section.loading {
  cursor: wait;
  opacity: 0.4 !important;
}

/* Overview tab */

.policyms-user-overview .section-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.policyms-user-overview .section-title > h3 {
  margin-right: 10px;
  margin-bottom: 4px;
}

.policyms-user-overview h2 {
  margin-bottom: 10px;
}

.policyms-user-overview p {
  color: var(--policyms-text-color-secondary);
  font-size: 90%;
}

.policyms-user-overview ul {
  padding: 0;
  margin: 10px 0;
  font-size: 80%;
  list-style-type: none;
}

.policyms-user-overview ul li {
  display: inline-block;
  margin-right: 7px;
}

.policyms-user-overview h4 {
  margin: 20px 0;
  font-size: 18px;
}

.policyms-user-overview table,
.policyms-user-overview tr,
.policyms-user-overview td,
.policyms-user section.policyms-user-profile table,
.policyms-user section.policyms-user-profile tr,
.policyms-user section.policyms-user-profile td {
  border: none;
}

.policyms-user-overview table.statistics {
  margin-bottom: 20px;
}

.policyms-user-overview table .large-figure {
  font-size: 150%;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .policyms-user > main > section header {
    align-items: flex-start;
  }

  .policyms-user > main > section header .actions {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
  }

  .policyms-user > main > section header a,
  .policyms-user > main > section header button {
    margin-bottom: 8px;
  }
}

/* Content list items. */

li.policyms-user-description {
  overflow: hidden;
  display: block;
  padding: 0 0 20px 0;
  border-bottom: 1px solid var(--policyms-border-color-light);
  margin: 10px 0;
  animation: sweep-in 0.3s ease-in-out forwards;
}

li.policyms-user-description > div > a {
  display: block !important;
  text-decoration: none;
  border-radius: 10px;
  padding: 0 !important;
  margin: 0 !important;
  transition: all 0.2s ease-in-out;
}

li.policyms-user-description > div > a > h4 {
  margin-bottom: 10px;
  font-weight: bold;
}

li.policyms-user-description > div > p {
  color: var(--policyms-text-color-secondary);
  font-size: 80%;
}

li.policyms-user-description > div > .metadata {
  margin-top: 10px;
  color: var(--policyms-text-color-secondary);
  font-size: 11pt;
}

li.policyms-user-description > div > .metadata > *:not([class])::after {
  content: "|";
  display: inline-block;
  margin-left: 8px;
  opacity: 0.7;
}

li.policyms-user-description > div > .metadata a:last-of-type,
li.policyms-user-description > div > .metadata span {
  display: inline-block;
  margin-right: 8px;
}

/* Reviews tab */

li.policyms-user-review-listed > div > .rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

li.policyms-user-review-listed > div > .rating span:first-of-type {
  font-size: 32px;
  font-weight: bold;
}

li.policyms-user-review-listed > div > .rating span:last-of-type {
  margin-left: 10px;
  color: var(--policyms-text-color-secondary);
  font-size: 16px;
}
li.policyms-user-review-listed > div > p {
  margin: 15px 0;
  color: var(--policyms-text-color);
}

li.policyms-user-review-listed > div > a {
  text-decoration: none;
}

li.policyms-user-review-listed > div > .metadata {
  margin-top: 10px;
  font-size: 14px;
}

/* Information tab */

.policyms-user-profile > form.container > table.information {
  margin-top: 20px;
  font-size: 80%;
}

.policyms-user-profile
  > form.container
  > table.information
  > tr
  > td:first-of-type {
  max-width: 80px;
  font-weight: bold;
}

.policyms-user-profile > form .folding {
  display: none;
}

.policyms-user-profile > form .critical-action {
  display: none;
}

.policyms-user-profile > form .critical-action.visible {
  display: block;
  animation: sweep-in 0.3s ease-in-out;
}

.policyms-user-profile > form .folding.visible {
  display: table-cell;
  animation: sweep-in 0.3s ease-in-out;
}

.policyms-user-profile > form td:first-of-type {
  min-width: 100px;
}

.policyms-user-profile > form input,
.policyms-user-profile > form select {
  box-sizing: border-box;
  min-width: 100%;
  padding: 5px 10px;
  border: 1px solid rgba(140, 140, 140, 0.2);
  margin-bottom: 5px;
  border-radius: 5px;
}

.policyms-user-profile > form label {
  font-size: 80%;
  opacity: 0.8;
}

.policyms-user-profile > form .socials input {
  min-width: unset;
  margin-right: 8px;
}

.policyms-user-profile > form .socials div div {
  display: flex;
}

.policyms-user-profile > form .socials button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.policyms-user-profile > form .socials input {
  line-height: normal;
}

.policyms-user-profile > form div.error,
.policyms-user-profile > form div.notice {
  display: none;
  width: 100%;
  padding: 10px 15px;
  margin: 10px;
  font-size: 80% !important;
  font-weight: bold !important;
  border-radius: 8px;
}

.policyms-user-profile > form div.error {
  background-color: var(--policyms-background-failure);
}

.policyms-user-profile > form div.notice {
  background-color: var(--policyms-background-notice);
}

.policyms-user-profile > form div.error.visible,
.policyms-user-profile > form div.notice.visible {
  display: block;
}

.policyms-user-profile > form img {
  max-width: 200px;
  border-radius: 8px;
}

.policyms-user-profile > form input[type="file"] {
  font-size: 125%;
}

.policyms-user-profile > form .unverified {
  color: darkred;
  font-weight: bold;
}

.policyms-user-profile > form button#policyms-resend-verification-email {
  padding: 0;
  margin: 0 5px;
  background: none;
  color: inherit;
  font-size: 100%;
  text-decoration: underline;
}

.policyms-user-profile
  > form[data-action="policyms-delete-account"]
  > button[type="submit"] {
  display: none;
}

.policyms-user-profile
  > form[data-action="policyms-delete-account"]
  > div.policyms-error {
  display: block;
}

.policyms-user-profile
  > form[data-action="policyms-delete-account"]
  > div.visible {
  display: block;
}

button[data-action="policyms-resend-verification-email"].disabled {
  opacity: 0.8;
}

button[data-action="policyms-resend-verification-email"].disabled:hover {
  opacity: 0.8;
  cursor: not-allowed;
  text-decoration: none;
  pointer-events: none;
}

@keyframes sweep-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 650px) {
  .policyms-user > main > .policyms-user > main > header {
    display: none;
  }

  .policyms-user {
    flex-direction: column;
  }

  .policyms-user > aside.sidebar {
    padding: 0 10px 10px 10px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }

  .policyms-user > aside.sidebar > img {
    max-width: 128px;
  }

  .policyms-user > aside.sidebar > .policyms-user > main > header {
    display: block;
    text-align: center;
  }

  .policyms-user > main {
    padding: 0 10px;
    margin: 0;
  }

  li.policyms-user-description {
    margin: 10px 0;
  }

  li.policyms-user-description a {
    flex-direction: column;
  }

  li.policyms-user-description .thumbnail {
    flex: unset;
    height: 200px;
    margin-bottom: 25px;
  }

  .policyms-user-profile > form input,
  .policyms-user-profile > form select {
    max-width: 50vw;
    max-width: 50vw;
  }

  .policyms-user-profile > form td:first-of-type {
    min-width: 110px;
  }
}
