/**
* ---------------------
* Assets
* ---------------------
*
* These are the styles for the assets related shortcodes.
*
*/

/**
* 
* Assets grid
* ---------------------
* These are the styles for the asset grid.
*
*/

.policyms-descriptions-grid > ul {
  /* Display & Box Model */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 24px;

  /* Other */
  list-style-type: none;
}

.policyms-descriptions-grid > ul > li {
  justify-self: flex-start;
  overflow: hidden;
  width: calc(100% - 20px);
  padding: 0;
  /* Display & Box Model */
  margin: 10px;

  /* Other */
  background-color: var(--policyms-background-color);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
}

.policyms-descriptions-grid > ul > li > a {
  /* Display & Box Model */
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.policyms-descriptions-grid > ul > li > a > *:not(.cover) {
  /* Display & Box Model */
  margin: 10px 15px;

  /* Other */
  font-weight: normal;
}

.policyms-descriptions-grid > ul > li > a > div {
  width: 100%;
}

.policyms-descriptions-grid > ul > li > a > .cover > img {
  object-fit: cover;
}

.policyms-descriptions-grid > ul > li > a > .cover > div {
  /* Display & Box Model */
  margin: 10px 15px;

  /* Other */
  font-weight: normal;
}

.policyms-descriptions-grid > ul > li:hover {
  /* Positioning */
  transform: scale(0.985);

  /* Other */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.policyms-descriptions-grid > ul > li > a:hover {
  /* Other */
  color: inherit !important;
}

.policyms-descriptions-grid > ul > li > a img {
  width: 100%;
  /* Display & Box Model */
  height: 150px;

  /* Other */
  object-fit: cover;
}

.policyms-descriptions-grid > ul > li > a h4 {
  /* Display & Box Model */
  margin-top: 10px;
}

.policyms-descriptions-grid > ul > li > a p {
  /* Display & Box Model */
  margin: 10px 0;

  /* Other */
  color: var(--policyms-text-color-secondary);
  font-size: 16px;
}

.policyms-descriptions-grid > ul > li > a > .metadata {
  width: 90%;
  /* Display & Box Model */
  margin-top: 0;
}

.policyms-descriptions-grid > ul > li > a > .metadata > * {
  /* Display & Box Model */
  margin: 0;
}

.policyms-descriptions-grid > ul > li > a .owner {
  /* Other */
  font-size: 14px;
  font-weight: 500;
}

.policyms-descriptions-grid > ul > li > a .last-updated {
  color: var(--policyms-text-color-secondary);
  /* Other */
  font-size: 12px;
}

.policyms-descriptions-grid > ul > li > a .reviews {
  /* Other */
  font-size: 14px;
}

.policyms-descriptions-grid > ul > li > a .views {
  /* Other */
  font-size: 14px;
}

.policyms-descriptions-grid > ul > li > a .type,
.policyms-descriptions-grid > ul > li > a .sub-type {
  /* Other */
  font-size: 14px;
}

@media screen and (max-width: 650px) {
  .policyms-descriptions-grid > ul {
    display: block;
    width: 100%;
    padding: 0;
  }

  .policyms-descriptions-grid > ul > li {
    display: block;
    flex: 1 0 100%;
    margin: 10px 0;
  }
}

/*
* 
* Featured descriptions
* ---------------------
*
* These are the styles for the featured descriptions shortcode.
*
*/

.policyms-featured-descriptions {
  max-width: 100% !important;
  padding: 0 20px;
}

.policyms-featured-descriptions > h2 {
  margin: 30px 5px 10px 10px;
}

.policyms-featured-descriptions > .descriptions-grid > ul {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center !important;
  padding: 0;
}

.policyms-featured-descriptions > .descriptions-grid > ul > li {
  width: calc(100% - 20px);
}
.policyms-featured-descriptions > .descriptions-grid > ul > li > a > div {
  width: 100%;
}

.policyms-featured-descriptions > .white-container {
  padding: 40px 0 50px 0;
  background-color: #ffffff;
  border-radius: 15px;
}

.policyms-featured-descriptions > .white-container > .statistics {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
}

.policyms-featured-descriptions > .white-container > .statistics figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: auto;
  font-size: 275%;
  font-weight: bold;
}

.policyms-featured-descriptions > .white-container > .statistics figcaption {
  opacity: 0.7;
  font-size: 40%;
}

@media screen and (max-width: 700px) {
  .policyms-featured-descriptions > .white-container + * {
    padding-top: 300px;
  }
}

/*
* 
* Assets archive
* ---------------------
*
* These are the styles for the 
* [policyms-read-multiple] shortcode.
*
*/

.policyms-descriptions-archive {
  /* Display & Box Model */
  display: flex;
  width: 100%;
  max-width: 100%;
  margin: 20px auto;
}

/**
* Assets archive filters
*/

.policyms-descriptions-archive > .filters {
  /* Display & Box Model */
  display: none;
  flex-grow: 0;
  padding: 20px 20px 0 0;
  border-right: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.policyms-descriptions-archive > .filters > .close {
  float: right;
  display: none;
}

.policyms-descriptions-archive.inspect > .filters {
  /* Display & Box Model */
  display: block;
  flex-basis: 100px;
  border-right: 1px solid var(--policyms-border-color-light);

  /* Other */
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.policyms-descriptions-archive > .filters > p {
  /* Display & Box Model */
  margin: 15px 0;

  /* Other */
  color: var(--policyms-text-color-secondary);
}

.policyms-descriptions-archive > .filters > form fieldset {
  /* Display & Box Model */
  padding: 0;
  border: unset;
  margin: 15px 0;
}

.policyms-descriptions-archive > .filters > form fieldset label {
  margin: 0;
}

.policyms-descriptions-archive > .filters > form fieldset * {
  float: unset;
}

.policyms-descriptions-archive > .filters > form fieldset .types span,
.policyms-descriptions-archive > .filters > form fieldset .providers span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.policyms-descriptions-archive
  > .filters
  > form
  fieldset
  .types
  input[type="radio"],
.policyms-descriptions-archive
  > .filters
  > form
  fieldset
  .providers
  input[type="checkbox"] {
  width: 22px;
  height: 20px;
  border-width: 1px;
  margin-right: 10px;
}

.policyms-descriptions-archive > .filters > form fieldset .views,
.policyms-descriptions-archive > .filters > form fieldset .dates {
  /* Display & Box Model */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.policyms-descriptions-archive > .filters > form fieldset .dates div,
.policyms-descriptions-archive > .filters > form fieldset .views div {
  width: 48%;
}

.policyms-descriptions-archive > .filters > form > button[type="submit"] {
  float: left;
}

.policyms-descriptions-archive > .content {
  /* Display & Box Model */
  flex: 1 0 0;
  padding: 0;
}

.policyms-descriptions-archive > .content > header {
  /* Display & Box Model */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 17px 17px 17px;
  border-bottom: 1px solid var(--policyms-border-color-light);
}

.policyms-descriptions-archive > .content > header .filters-toggle {
  /* Display & Box Model */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 42px;
  height: 34px;
  padding: 10px 10px;
}

.policyms-descriptions-archive > .content > header .filters-toggle div {
  /* Display & Box Model */
  width: 30px;
  height: 2px;
  border-radius: 2px;
  margin: 0;

  /* Other */
  background-color: var(--policyms-text-color);
}

.policyms-descriptions-archive > .content > header > form {
  /* Display & Box Model */
  display: flex;
  align-items: center;
  margin: 0;
}

.policyms-descriptions-archive > .content > header > form > fieldset {
  display: flex;
  align-items: center;
  width: auto;
  padding: 0;
  border: none;
  margin: 0 0 0 20px;
}

.policyms-descriptions-archive > .content > header > form > fieldset > * {
  width: auto;
  padding-right: 20px;
}

.policyms-descriptions-archive > .content > .description-gallery {
  margin: 15px;
}

@media screen and (max-width: 820px) {
  .policyms-descriptions-archive.inspect > .filters {
    /* Display & Box Model */
    display: none;
  }

  /** 
  * NOTE: Flip the inspecting properties of desktop and mobile,
  * so that the fitlers sidebar is shown by default.
  */
  .policyms-descriptions-archive > .filters {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    /* Display & Box Model */
    display: block;
    flex-basis: 100px;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: var(--policyms-background-color);
  }

  .policyms-descriptions-archive > .filters > .close {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .policyms-descriptions-archive > .content > header {
    display: block;
  }

  .policyms-descriptions-archive > .content > header form {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

/*
* 
* Description
* ---------------------
*
* These are the styles for the 
* [policyms-read-single] shortcode.
*
*/

.policyms-description-single {
  margin-bottom: 20px;
}

/**
* Asset header
*/

.policyms-description-single > header {
  /* Display & Box Model */
  border-bottom: 1px solid var(--policyms-border-color-light);
}

.policyms-description-single > header > .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.policyms-description-single > header > .title > h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
}

.policyms-description-single > header > .title > h1 .status {
  display: block;
  padding: 5px 10px;
  margin: 0 0 0 10px;
  /* Display & Box Model */
  font-size: 18px;
  float: right;
}

.policyms-description-single > header > .title > button {
  flex-basis: 150px;
  flex-basis: 80px;
  margin: 0 0 0 40px;
  font-size: 16px;
}

.policyms-description-single > header > .metadata {
  /* Display & Box Model */
  margin: 20px 0;

  /* Other */
  font-size: 16px;
}

.policyms-description-single > header > .metadata > span:not(:last-of-type) {
  /* Display & Box Model */
  padding-right: 10px;
  border-right: 1px solid var(--policyms-border-color-light);
  margin-right: 10px;
}

.policyms-description-single > header > .metadata > .provider {
  /* Other */
  font-size: 22px;
  font-weight: 500;
}

.policyms-description-single > header > .metadata > .type:not(:last-child),
.policyms-description-single > header > .metadata > .sub-type:not(:last-child) {
  /* Display & Box Model */
  padding-right: 10px !important;

  /* Other */
  font-size: 14px;
}

.policyms-description-single > header > .metadata > .fields-of-use > span {
  /* Display & Box Model */
  margin-right: 10px;

  /* Other */
  font-size: 16px;
  text-decoration: underline;
}

.policyms-description-single
  > header
  > .metadata
  > .fields-of-use
  > span:last-child {
  margin-right: 0;
}

/**
* Description content
*/

.policyms-description-single > .content {
  /* Display & Box Model */
  display: flex;
}

.policyms-description-single > .content > aside {
  /* Display & Box Model */
  max-width: 33%;
  border-right: 1px solid var(--policyms-border-color-light);
}

.policyms-description-single > .content > aside > .comments {
  margin-top: 25px;
}

@media screen and (max-width: 800px) {
  .policyms-description-single > header > .title {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .policyms-description-single > header > .title > button {
    flex: 0;
    margin: 20px 0 0 0;
  }

  .policyms-description-single > .content {
    /* Display & Box Model */
    flex-direction: column-reverse;
  }
}

.policyms-description-single > .content > * {
  /* Display & Box Model */
  padding: 20px 20px 0 20px;
}

.policyms-description-single > .content > .files {
  /* Display & Box Model */
  flex: 0.5;
  border-right: 1px solid var(--policyms-border-color-light);
}

.policyms-description-single > .content > .files > .comments {
  /* Display & Box Model */
  margin-top: 20px;
}

.policyms-description-single > .content > .information {
  /* Display & Box Model */
  flex: 1;
}

.policyms-description-single > .content > .information > div {
  /* Display & Box Model */
  margin-bottom: 30px;
}

.policyms-description-single > .content > .information p {
  margin: 10px 0;
}

.policyms-description-single > .content > .information ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 20px 0;
  list-style-type: none;
}

.policyms-description-single > .content > .information ul a {
  display: block !important;
  margin-right: 10px;
}

.policyms-description-single
  > .content
  > .information
  > .description
  > .gallery {
  display: block !important;
}

.policyms-description-single
  > .content
  > .information
  > .description
  > .gallery
  > .slider {
  /* Display & Box Model */
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  width: 100%;
}

.policyms-description-single
  > .content
  > .information
  > .description
  > .gallery
  > .slider
  > .item {
  max-width: 200px;
}

.policyms-description-single
  > .content
  > .information
  > .description
  > .gallery
  > .slider
  > .item {
  position: relative;
  margin-right: 15px;
  margin-bottom: 10px;
  transition: transform 0.2s ease-in-out;
}

.policyms.description
  > .content
  > .information
  > .description
  > .gallery
  > .slider
  > .item:hover {
  /* Display & Box Model */
  cursor: pointer;
  transform: scale(0.98);
  transition: transform 0.2s ease-in-out;
}

.policyms.description
  > .content
  > .information
  > .description
  > .gallery
  > .slider
  > .item
  > img,
.policyms.description
  > .content
  > .information
  > .description
  > .gallery
  > .slider
  > .item
  > .video-thumbnail {
  /* Display & Box Model */
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

.policyms.description
  > .content
  > .information
  > .description
  > .gallery
  > .slider
  > .item
  > .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
}

.policyms.description
  > .content
  > .information
  > .description
  > .gallery
  > .slider
  > .item
  > .toolbar {
  display: none;
}

.policyms.description
  > .content
  > .information
  > .description
  > .gallery
  > .slider
  > .item
  > .toolbar {
  display: none;
}

.policyms-modal.gallery .content {
  overflow: hidden;
  min-width: 400px;
}

.policyms-modal.gallery .content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

/**
* Quick fixes for image positioning.
*/
.policyms-modal.gallery .content img {
  width: auto;
  max-height: 90.2vh;
  object-fit: contain;
  vertical-align: middle !important;
}

.policyms-modal.gallery .content video.large {
  width: 100%;
  min-width: 600px;
  height: 100%;
  max-height: 90.2vh;
}

.policyms-modal.gallery .toolbar {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 12px;
  background-color: black;
  color: white;
  opacity: 0;
  transition: all 0.4 ease-in-out;
}

.policyms-modal.gallery *[data-asset-category="videos"] .toolbar {
  top: 0;
  bottom: unset;
}

.policyms-modal.gallery .content:hover .toolbar {
  opacity: 0.8;
  transition: all 0.4 ease-in-out;
}

.policyms-modal.gallery .toolbar .tools {
  display: flex;
  justify-content: center;
  align-items: center;
}

.policyms-modal.gallery .toolbar span {
  margin-right: 10px;
}

.policyms-modal.gallery .toolbar button {
  margin: 0;
  font-weight: bold;
}

.policyms-modal.gallery .toolbar button[data-action="delete"] {
  color: var(--policyms-background-failure-outline) !important;
}

/**
* Description reviews
* ----
*/

.policyms-description-single > .reviews {
  padding: 20px;
  border-top: 1px solid var(--policyms-border-color-light);
}

.policyms-description-single .reviews ul {
  list-style-type: none;
  margin-bottom: 20px;
}

.policyms-description-single .review {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--policyms-border-color-light);
  margin: 20px 0 10px 0;
}

.policyms-description-single .review .rating {
  font-weight: bold;
}

.policyms-description-reviews form label {
  float: none;
}

.policyms-description-reviews form .stars {
  display: flex;
  margin: -10px 0px 0 0px;
}

.policyms-description-reviews form .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.policyms-description-reviews form .stars input[type="radio"] + svg {
  cursor: pointer;
}

.policyms-description-reviews
  form
  .stars
  label
  input[type="radio"]
  + svg
  > path {
  fill: var(--policyms-star-color);
}

.policyms-description-reviews
  form
  .stars
  label[checked]
  ~ label
  input[type="radio"]
  + svg
  > path {
  fill: var(--policyms-text-color);
}

.policyms-description-reviews
  form
  .stars:hover
  label
  input[type="radio"]
  + svg
  > path {
  fill: var(--policyms-star-color) !important;
}

.policyms-description-reviews
  form
  .stars
  label[checked]:hover
  ~ label
  input[type="radio"]
  + svg
  > path,
.policyms-description-reviews
  form
  .stars
  label:hover
  ~ label
  input[type="radio"]
  + svg
  > path {
  fill: var(--policyms-text-color) !important;
}

/**
* Asset editing form
*/

.policyms-description-editor.modalized {
  display: none;
  padding: 20px;
  margin: 20px 0;
  background-color: var(--policyms-background-color);
}

.policyms-modal .policyms-description-editor.modalized {
  display: block;
}

.policyms-description-editor form fieldset {
  border: none;
}

.policyms-description-editor fieldset {
  border: none;
}

.policyms-description-editor fieldset[name="uploads"] .chooser {
  display: flex;
  align-items: center;
}

.policyms-description-editor fieldset[name="uploads"] .chooser input {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.policyms-description-editor .links div div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.policyms-description-editor .links div div input[name="links-title[]"] {
  max-width: 200px;
}
.policyms-description-editor .links div div input[name="links-url[]"] {
  min-width: 225px;
}

.policyms-description-editor .links div div * {
  display: block;
  height: auto;
  max-height: unset;
  margin: 0 8px 0 0;
}

.policyms-description-editor .links div button.remove-field,
.policyms-description-editor .links div button.remove-field * {
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: 0 0 0 3px;
  background: none !important;
  color: var(--policyms-text-color) !important;
  transition: opacity 0.2s ease-in-out;
}

.policyms-description-editor .links div button.remove-field:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.policyms-description-editor .links div button.remove-field:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  transition: opacity 0.2s ease-in-out;
}

.policyms-description-editor .links > button.add-field {
  display: block;
  height: auto;
  padding: 0;
  border: none;
  margin: 10px 0;
  background: none !important;
  color: var(--policyms-text-color);
  font-size: 75%;
  line-height: normal;
}

.policyms-description-editor .links > button.add-field:hover {
  cursor: pointer;
  opacity: 0.8;
}

.policyms-description-editor .folding {
  display: none;
}

.policyms-description-editor .folding.visible {
  display: table-cell;
  animation: sweep-in 0.3s ease-in-out;
}

@keyframes sweep-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 650px) {
  .policyms-description-editor form {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .policyms-description-editor form > fieldset {
    padding: 10px;
  }

  .policyms-description-editor .close {
    color: black !important;
  }
}

/* File viewer */

.policyms-asset-information-table {
  width: 100%;
  margin: 15px 0;
}

.policyms-asset-information-table > button {
  width: 100%;
}

.policyms-asset-information-table > button:disabled {
  background-color: var(--policyms-border-color-light) !important;
  border-color: var(--policyms-border-color-light) !important;
  color: var(--policyms-text-color) !important;
}

.policyms-asset-information-table > button:disabled:hover {
  transform: none;
  cursor: not-allowed;
  opacity: 1;
}

.policyms-asset-information-table > table {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  width: 95%;
  padding-top: 30px;
  border: 1px solid vaR(--policyms-border-color-light);
  margin: 0 10px 10px 10px;
  margin-top: -30px;

  /* Other */
  font-size: 14px;
  border-radius: 12px;
  border-collapse: collapse;
}

.policyms-asset-information-table[collapsed] > table {
  display: none;
}

.policyms-asset-information-table > table tbody {
  display: table;
  min-width: 100%;
}

.policyms-asset-information-table > table td,
.policyms-asset-information-table > table th {
  max-width: 150px;
  padding: 5px 7px;
  border-top: unset;
  border-right: 1px solid var(--policyms-border-color-light) !important;
  border-bottom: 1px solid var(--policyms-border-color-light) !important;
  border-left: 1px solid var(--policyms-border-color-light) !important;
  word-wrap: break-word;
  vertical-align: top;
}

.policyms-asset-information-table > table td:not(:first-of-type) {
  text-align: right;
}

/* File editor */

.policyms-description-single .policyms-asset-editor {
  padding: 10px;
  border: 1px solid var(--policyms-border-color-light);
  margin: 10px 0;
  border-radius: 8px;
}

.policyms .policyms-asset-editor button.delete {
  width: 24px;
  height: 24px;
  padding: 0px !important;
  margin: 0 4px 0 0 !important;
  background-color: var(--policyms-background-failure-outline) !important;
  font-size: 14.5px;
  text-align: center;
  border-radius: 6px !important;
}

.policyms .policyms-asset-editor button.delete:disabled {
  cursor: wait !important;
  z-index: 10;
  background-color: rgba(150, 150, 150, 0.5) !important;
}

.policyms-description-single .policyms-asset-editor > * {
  display: block;
  float: none;
}

.policyms-description-single .policyms-asset-editor > .controls {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--policyms-border-color-light);
  margin-bottom: 5px;
  font-weight: bold;
}

.policyms-description-single .policyms-asset-editor input[type="file"] {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 16px;
}

.policyms-description-single .policyms-asset-editor > label {
  font-size: 14px;
  font-weight: bold;
}

.policyms-description-single .policyms-asset-editor > .chooser > label {
  margin: 0 8px 0 0;
}
